.account {
  .header__top-btn {
    display: flex;
  }
  .header__btn {
    display: none;
  }
  .header__bottom {
    padding: 13rem 0;
  }
  .header__user {
    display: flex;
  }
  .nav__icon {
    display: flex;
  }
  .footer {
    margin-top: 0;
    padding-top: 29rem;
  }
  .mailing {
    display: none;
  }
  .ecosystem {
    margin-top: 31rem;
  }
  .main {
    margin-top: 143rem;
  }
  .nav {
    top: 194rem;
  }
}
