.ecosystem {
  margin-top: 32px;
  display: flex;
  justify-content: space-between;
  &__resources {
    width: 425px;
  }
  &__projects {
    width: 276px;
  }
  &__documents {
    width: 425px;
  }
  &__heading {
    padding-bottom: 6px;
    border-bottom: 1px solid #FFFFFF;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
  }
  &__block {
    margin-top: 13px;
    display: flex;
    justify-content: space-between;
  }
  &__text {
    margin-bottom: 6px;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
    cursor: pointer;
    &:last-child {
      margin-bottom: 0;
    }
  }
}