.favorites {
  .events {
    margin-top: 39rem;
    &__showcase {
      margin-top: 14rem;
    }
  }
  .articles {
    margin-top: 65rem;
    &__showcase {
      margin-top: 15rem;
    }
    &__btn--favorites {
      display: none;
    }
  }

  .training__card--favorites {
    display: none;
  }
}
.tab-favorites {
  display: none;
}
