.footer {
  margin-top: 72rem;
  padding: 71rem 0 46rem;
  background-color: #333333;
  &__block{
    margin-top: 22rem;
    display: flex;
    align-items: center;
  }
  &__img {
    width: 270rem;
    height: 32rem;
    margin-right: 28rem;
  }
  &__text {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14rem;
    line-height: 18rem;
    color: #FFFFFF;
  }
  &__bottom {
    margin-top: 26rem;
    font-weight: 400;
    font-size: 10rem;
    line-height: 12rem;
    color: #666666;
  }
}