.info {
  margin-top: 40rem;
  display: flex;
  align-items: center;
  &__img {
    width: 48rem;
    height: 48rem;
    margin-right: 21rem;
  }
  &__text {
    font-weight: 400;
    font-size: 22rem;
    line-height: 28rem;
    color: #333333;
    .bold {
      font-weight: 700;
      color: #333333;
    }
    span {
      color: #E2001A;
    }
  }
}