.letterSelection {
  width: 872rem;
  height: 414rem;
  padding: 16rem 24rem;
  background-color: #FFFFFF;
  position: relative;
  background-image: url("../img/image94.png");
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: 425rem 386rem;
  //////////////
  margin-bottom: 20rem;
  /////////////
  &__headline {
    font-weight: 700;
    font-size: 14rem;
    line-height: 17rem;
    color: #333333;
    span {
      color: #E2001A;
    }
  }
  &__heading {
    margin-top: 5rem;
    font-weight: 700;
    font-size: 22rem;
    line-height: 26rem;
    color: #333333;
  }
  &__form {
    margin-top: 30rem;
    &-left {
      width: 367rem;
    }
    &-flex {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    &-block {
      width: 370rem;
      height: 65rem;
      margin-bottom: 28rem;
      &--section {
        width: 164rem;
      }
    }
    &-text {
      margin-bottom: 6rem;
      font-weight: 700;
      font-size: 10rem;
      line-height: 12rem;
      text-transform: uppercase;
      color: #333333;
      &--done {
        display: none;
        font-weight: 400;
        font-size: 10rem;
        line-height: 12rem;
        color: #008900;
      }
    }
    &-item {
      padding-bottom: 6rem;
      border-bottom: 1rem solid #333333;
      position: relative;
      &--section {
        width: 164rem;
      }
      &--done {
        .select2-selection__arrow {
          display: none;
        }
        .letterSelection__form-img {
          display: block;
        }
        .letterSelection__form-text--done {
          display: block;
        }
      }
    }
    &-img {
      position: absolute;
      width: 24rem;
      height: 24rem;
      top: 0;
      right: 0;
      display: none;
    }
    &-btn {
      margin-top: 45rem;
      width: 258rem;
      height: 48rem;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #E2001A;
      border-radius: 120rem;
      border: none;
      outline: none;
      cursor: pointer;
      font-weight: 700;
      font-size: 15rem;
      line-height: 19rem;
      color: #FFFFFF;
    }
  }
  &__btn {
    width: 138rem;
    height: 28rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: 1rem solid #333333;
    outline: none;
    border-radius: 30rem;
    cursor: pointer;
    font-weight: 700;
    font-size: 10rem;
    line-height: 12rem;
    color: #333333;
    position: absolute;
    top: 24rem;
    right: 24rem;
    &-img {
      width: 16rem;
      height: 16rem;
    }
  }
}
