.mailing {
  height: 297rem;
  background-image: url("../img/mailingFone.png");
  background-repeat: no-repeat;
  background-position: left;
  background-size: contain;
  display: flex;
  justify-content: flex-end;
  border-radius: 0 18rem 18rem 0;
  &__top {
    width: 872rem;
    display: flex;
    justify-content: space-between;
    background-color: #FFFFFF;
    border-radius: 18rem;
  }
  &__left {
    padding: 74rem 32rem 77rem;
    &-heading {
      font-weight: 700;
      font-size: 48rem;
      line-height: 58rem;
      color: #333333;
    }
    &-text {
      margin-top: 8rem;
      font-weight: 400;
      font-size: 18rem;
      line-height: 22rem;
      color: #333333;
    }
  }
  &__right {
    width: 432rem;
    padding: 36rem 62rem 28rem 0;
    &-heading {
      font-weight: 700;
      font-size: 10rem;
      line-height: 12rem;
      text-transform: uppercase;
      color: #333333;
    }
    &-input {
      width: 100%;
      margin: 10rem 0 21rem;
      padding-bottom: 6rem;
      outline: none;
      border: none;
      border-bottom: 1rem solid #333333;
      font-weight: 400;
      font-size: 16rem;
      line-height: 19rem;
      &::placeholder {
        color: #D7D7D7;
      }
    }
    &-block {
      margin-bottom: 10rem;
      display: flex;
      align-items: flex-start;
    }
    &-check {
      margin-right: 9rem;
      &:nth-child(2) {
        align-self: center;
      }
    }
    &-text {
      font-weight: 400;
      font-size: 10rem;
      line-height: 12rem;
      color: #333333;
      span {
        color: #E2001A;
      }
    }
    &-btn {
      margin-top: 12rem;
      padding: 15rem 139rem;
      background-color: #E2001A;
      border-radius: 120rem;
      border: none;
      outline: none;
      cursor: pointer;
      font-weight: 700;
      font-size: 14rem;
      line-height: 18rem;
      color: #FFFFFF;

      &:hover {
        background: #BD0016;
      }

      &:active {
        background: #ECABA9;
      }
    }
  }
}
