.nav {
  margin-top: 43rem;
  margin-right: 24rem;
  width: 372rem;
  &__item {
    padding: 16rem 0 16rem 4rem;
    display: flex;
    flex-direction: column;
    border-bottom: 1rem solid #D9D9D9;
    &:first-child {
      padding-top: 0;
    }
    &:last-child {
      border-bottom: none;
    }
    &-block {
      padding: 3rem 0;
      margin-bottom: 10rem;
      display: flex;
      align-items: center;
      .nav__link {
        padding: 0;
      }
      &:last-child {
        margin-bottom: 0;
      }
      &:hover {
        background-color: #EBEBEB;
        .nav__link {
          font-weight: 700;
        }
      }
    }
    &-img {
      width: 15rem;
      height: 15rem;
      margin-right: 8rem;
    }
  }
  &__heading {
    margin-bottom: 8rem;
    font-weight: 700;
    font-size: 22rem;
    line-height: 28rem;
    color: #333333;
  }
  &__link {
    padding: 4rem 0;
    margin-bottom: 9rem;
    text-decoration: none;
    font-weight: 400;
    font-size: 16rem;
    line-height: 19rem;
    color: #333333;
    &:last-child {
      margin-bottom: 0;
    }
    &:hover {
      background-color: #EBEBEB;
      font-weight: 700;
    }
  }
}