.nav {
  //margin-top: 43rem;
  width: 276rem;
  position: fixed;
  top: 156rem;
  left: 135rem;
  &.nav-stop {
    position: absolute !important;
    left: 0 !important;
    top: auto !important;
    bottom: 50rem !important;
  }
  &__item {
    padding-left: 4rem;
    padding-bottom: 19rem;
    display: flex;
    flex-direction: column;
    border-bottom: 1rem solid #D9D9D9;
    &:nth-child(2) {
      margin-top: 18rem;
    }
    &:nth-child(3) {
      margin-top: 18rem;
    }
    &:last-child {
      border-bottom: none;
      padding-bottom: 0;
    }
    &-block {
      margin-top: 11rem;
      margin-bottom: 5rem;
      display: flex;
      align-items: center;
      &:last-child {
        margin-bottom: 0;
      }
      &:hover {
        background-color: #EBEBEB;
      }
    }
    &-img {
      width: 15rem;
      height: 15rem;
      margin-right: 8rem;
    }
  }
  &__heading {
    font-weight: 700;
    font-size: 22rem;
    line-height: 28rem;
    color: #333333;
  }
  &__link {
    text-decoration: none;
    font-weight: 400;
    font-size: 16rem;
    line-height: 19rem;
    color: #333333;
  }
  &__icon {
    display: none;
    margin-left: 37rem;
    padding: 2rem 5rem;
    align-items: center;
    justify-content: center;
    background-color: #333333;
    border-radius: 30rem;
    &-text {
      font-weight: 700;
      font-size: 10rem;
      line-height: 13rem;
      color: #FFFFFF;
    }
    &-img {
      margin-left: 2rem;
      width: 8rem;
      height: 9rem;
    }
  }
}
