.necessary {
  margin-top: 41rem;
  &__heading {
    font-weight: 700;
    font-size: 30rem;
    line-height: 36rem;
    color: #333333;
  }
  &__showcase {
    margin-top: 19rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  &__card {
    width: 276rem;
    padding: 12rem 12.5rem 14.5rem;
    margin-bottom: 18rem;
    border-radius: 8rem;
    &-1 {
      background-image: url("../img/cardFone1.png");
      background-repeat: no-repeat;
      background-size: cover;
    }
    &-2 {
      background-image: url("../img/cardFone2.png");
      background-repeat: no-repeat;
      background-size: cover;
    }
    &-3 {
      background-image: url("../img/cardFone3.png");
      background-repeat: no-repeat;
      background-size: cover;
    }
    &-4 {
      background-image: url("../img/cardFone4.png");
      background-repeat: no-repeat;
      background-size: cover;
    }
    &-5 {
      background-image: url("../img/cardFone5.png");
      background-repeat: no-repeat;
      background-size: cover;
    }
    &-6 {
      background-image: url("../img/cardFone6.png");
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
  &__text {
    font-weight: 400;
    font-size: 10rem;
    line-height: 12rem;
    text-transform: uppercase;
    color: #FFFFFF;
    &-mini {
      font-weight: 400;
      font-size: 12rem;
      line-height: 14rem;
      color: #FFFFFF;
    }
  }
  &__headline {
    margin-top: 4rem;
    margin-bottom: 14rem;
    font-weight: 700;
    font-size: 18rem;
    line-height: 22rem;
    color: #FFFFFF;
  }
}