.promo {
  display: flex;
  justify-content: space-between;
  &__left {
    margin-top: 31rem;
    width: 50%;
    &-heading {
      font-weight: 700;
      font-size: 36rem;
      line-height: 43rem;
      color: #333333;
      span {
        color: #E2001A;
      }
    }
    &-text {
      margin: 11rem 0 19rem;
      font-weight: 400;
      font-size: 18rem;
      line-height: 22rem;
      color: #333333;
    }
    &-btn {
      margin-left: 1rem;
      padding: 14.5rem;
      background-color: #E2001A;
      border-radius: 120rem;
      border: none;
      outline: none;
      cursor: pointer;
      font-weight: 700;
      font-size: 16rem;
      line-height: 19rem;
      color: #FFFFFF;
    }
  }
  &__right {
    width: 50%;
    background-image: url("../img/promo-fone.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    &-margin {
      margin-top: 77rem;
      margin-left: 98rem;
    }
    &-headline {
      font-weight: 400;
      font-size: 100rem;
      line-height: 104rem;
      color: #212121;
      span {
        color: #E2001A;
      }
    }
    &-text {
      font-weight: 700;
      font-size: 22rem;
      line-height: 26rem;
      color: #212121;
    }
    &-icon {
      position: absolute;
      left: -22rem;
      bottom: -4rem;
    }
    &-icon-1 {
      position: absolute;
      right: 11rem;
      bottom: 121rem;
    }
  }
}