.services {
  margin-top: 59rem;
  &__heading{
    font-weight: 700;
    font-size: 30rem;
    line-height: 36rem;
    color: #333333;
    span {
      color: #E2001A;
    }
  }
  &__showcase {
    display: flex;
    margin-top: 24rem;
    max-width: 872rem;

    .slick-slider .slick-slide {
      padding: 0 15px;
    }

    .slick-slide {
      opacity: 0.4;
      transition: filter, opacity 0.3s;
      filter: grayscale(1);
    }
    .slick-active {
      opacity: 1;
      filter: none;
    }
  }
  &__card {
    width: 870rem;
    height: 289rem;
    background-image: url("../img/servicesFone.png");
    background-repeat: no-repeat;
    background-size: cover;
    &-block {
      padding: 52rem 30rem 30rem 32rem;
    }
    &-headline {
      font-weight: 400;
      font-size: 10rem;
      line-height: 12rem;
      text-transform: uppercase;
      color: #EBEBEB;
    }
    &-heading {
      margin-top: 8rem;
      font-weight: 700;
      font-size: 36rem;
      line-height: 43rem;
      color: #FFFFFF;
    }
    &-text {
      margin-top: 7rem;
      font-weight: 400;
      font-size: 16rem;
      line-height: 19rem;
      color: #EBEBEB;
    }
    &-btn {
      margin-top: 22rem;
      padding: 9.5rem 29rem;
      border: none;
      outline: none;
      cursor: pointer;
      background-color: #333333;
      border-radius: 120rem;
      font-weight: 700;
      font-size: 14rem;
      line-height: 17rem;
      color: #FFFFFF;
    }
  }
}
