@import "reset";
@import "fonts";
@import "common.scss";

html {
  font-size: calc(100vw / 375);
  @include desktop {
    font-size: calc(100vw / 1440);
  }
}

body {
  font-family: 'DIN Pro', sans-serif;
  background-color: #F6F6F6;
  box-sizing: border-box;
}
//main {
//  width: 100%;
//}
.container {
  width: 100%;
  max-width: 1170rem;
  margin: 0 auto;
}
.wrapper {
  display: flex;
}
.main {
  width: 100%;
}
@import "header.scss";
@import "nav.scss";
@import "promo.scss";
@import "necessary.scss";
@import "info.scss";
@import "training.scss";
@import "webinar.scss";
@import "events.scss";
@import "services.scss";
@import "registration.scss";
@import "footer.scss";
@import "mailing.scss";
@import "ecosystem.scss";
@import "support.scss";
@import "user.scss";
@import "store.scss";
@import "training.scss";

.custom-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 18rem;
}

#prev-arrow {
  &.slick-disabled {
    opacity: 0.5;
    cursor-pointer: none;
  }
  img {
    transform: rotate(180deg);
  }
}

#slide-count {
  margin: 0 12rem;
  font-weight: 400;
  font-size: 18rem;
  line-height: 22rem;
  color: #333333;
}

#next-arrow {
  &.slick-disabled {
    opacity: 0.5;
    cursor-pointer: none;
  }
}