.support {
  margin-top: 23rem;
  display: flex;
  &__info {
    width: 685rem;
    margin-right: 25rem;
    display: flex;
  }
  &__block {
    margin-right: 25rem;
    &:last-child {
      margin-right: 0;
    }
  }
  &__link {
    text-decoration: none;
    font-weight: 700;
    font-size: 14rem;
    line-height: 17rem;
    color: #FFFFFF;
  }
  &__heading {
    margin-top: 3rem;
    font-weight: 400;
    font-size: 10rem;
    line-height: 12rem;
    color: #FFFFFF;
    span {
      color: #666666;
    }
  }
  &__flex {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  &__text {
    margin-top: 4rem;
    font-weight: 400;
    font-size: 10rem;
    line-height: 12rem;
    color: #FFFFFF;
    cursor: pointer;
  }
  &__network {
    align-self: flex-start;
    display: flex;
    align-items: center;
  }
  &__img {
    margin-right: 12rem;
    width: 29rem;
    height: 29rem;
    cursor: pointer;
    &:last-child {
      margin-right: 0;
    }
  }
}