<div class="credit">
    <div class="available">
        <div class="available__top">
            <div class="available__left">
                <div class="available__heading">Доступные баллы</div>
                <div class="available__buttons">
                    <button class="available__btn">В магазин ></button>
                    <button class="available__btn">Поделиться баллами ></button>
                </div>
            </div>
            <div class="available__right">
                <div class="available__right-heading">2 000</div>
                <div class="available__text">баллов</div>
            </div>
        </div>
       <div class="available__bottom">
           <div class="available__headline">За что начислены</div>
           <img class="available__img" src="./img/vector.svg" alt="img">
       </div>
    </div>
    <div class="bonus">
        <div class="bonus__block">
            <div class="bonus__heading">Приводите коллег и получайте<br><span>50 бонусных баллов</span></div>
            <button class="bonus__btn">Копировать код</button>
        </div>
    </div>
</div>