<div class="ecosystem">
    <div class="ecosystem__resources">
        <div class="ecosystem__heading">Ресурсы</div>
        <div class="ecosystem__block">
            <div class="ecosystem__item">
                <div class="ecosystem__text">Обучение</div>
                <div class="ecosystem__text">Программа лояльности</div>
                <div class="ecosystem__text">Статьи</div>
                <div class="ecosystem__text">Вебинары и видео</div>
            </div>
            <div class="ecosystem__item">
                <div class="ecosystem__text">Мероприятия</div>
                <div class="ecosystem__text">Атлас осадков мочи</div>
                <div class="ecosystem__text">Natom</div>
            </div>
            <div class="ecosystem__item">
                <div class="ecosystem__text">Книги и журналы</div>
                <div class="ecosystem__text">Продукты RC</div>
            </div>
        </div>
    </div>
    <div class="ecosystem__projects">
        <div class="ecosystem__heading">Проекты</div>
        <div class="ecosystem__block">
            <div class="ecosystem__item">
                <div class="ecosystem__text">Royal Canin® </div>
                <div class="ecosystem__text">Сервисы Royal Canin® </div>
            </div>
            <div class="ecosystem__item">
                <div class="ecosystem__text">Дать рекомендацию</div>
            </div>
        </div>
    </div>
    <div class="ecosystem__documents">
        <div class="ecosystem__heading">Документы</div>
        <div class="ecosystem__block">
            <div class="ecosystem__item-1">
                <div class="ecosystem__text">Пользовательское соглашение</div>
                <div class="ecosystem__text">Правовая информация</div>
                <div class="ecosystem__text">Информация для родителей</div>
                <div class="ecosystem__text">Информация о Cookie</div>
            </div>
            <div class="ecosystem__item-1">
                <div class="ecosystem__text">Владелец сайта</div>
                <div class="ecosystem__text">Конфиденциальность</div>
                <div class="ecosystem__text">Владелец сайта</div>
                <div class="ecosystem__text">Доступность</div>
            </div>
        </div>
    </div>
</div>