<div class="email">
    <div class="email__headline"><span>шаг 1</span> / 6</div>
    <div class="email__heading">Введите данные получателя рекомендации</div>
    <form action="#" class="email__form">
        <div class="email__form-flex">
            <div class="email__form-left">
                <div class="email__form-text">Имя Владельца животного</div>
                <div class="email__form-block">
                    <input class="email__form-input" type="password" placeholder="Empty">
                </div>
                <div class="email__switch">
                    <div class="email__switch-heading">питомец</div>
                    <div class="email__switch-block">
                        <div class="email__switch-btn email__switch-btn--active">
                            <img class="email__switch-img" src="./img/dog.svg" alt="img">
                            <div class="email__switch-text">Собака</div>
                        </div>
                        <div class="email__switch-btn">
                            <img class="email__switch-img" src="./img/cat.svg" alt="img">
                            <div class="email__switch-text">Кошка</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="email__form-right">
                <div class="email__form-text">Email / телефон владельца животного</div>
                <div class="email__form-block">
                    <input class="email__form-input" type="text" placeholder="Empty">
                </div>
                <div class="email__switch">
                    <div class="email__switch-heading">Тип рациона</div>
                    <div class="email__switch-block">
                        <div class="email__switch-btn email__switch-btn--active">
                            <div class="email__switch-text">Повседневный</div>
                        </div>
                        <div class="email__switch-btn">
                            <div class="email__switch-text">ветеринарный</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="email__form-flex">
            <button class="email__form-btn mail__form-btn--disabled" type="submit">Подобрать корм</button>
            <button class="email__form-btn email__form-btn--black mail__form-btn--disabled">Выбрать корм</button>
        </div>
    </form>
</div>
