<div class="enter">
    <div class="enter__left">
        <div class="enter__heading">Приветствуем вас<br>на <span>VetAcademy</span></div>
        <div class="enter__headline">Войдите в свой профиль</div>
    </div>
    <div class="enter__right">
        <div class="enter__block">
            <div class="enter__block-text">Войти через социальные сети</div>
            <img class="enter__img" src="./img/subtract1.svg" alt="img">
            <img class="enter__img" src="./img/subtract2.svg" alt="img">
        </div>
        <form class="enter__form" action="#">
            <div class="enter__form-block">
                <div class="enter__form-text">Email</div>
                <div class="enter__form-flex">
                    <input class="enter__form-input" type="text" placeholder="Empty">
                    <img class="enter__form-watch" src="./img/close.svg" alt="&#x2715">
                </div>
            </div>
            <div class="enter__form-block">
                <div class="enter__form-text">Password</div>
                <div class="enter__form-flex">
                    <input class="enter__form-input" type="password" placeholder="Empty">
                    <img class="enter__form-watch" src="./img/visibility.svg" alt="img">
                    <img class="enter__form-done" src="./img/done.svg" alt="img">
                </div>
            </div>
            <div class="enter__form-checkbox">
                <label class="container-checkbox">Запомнить меня
                    <input type="checkbox">
                    <span class="checkmark"></span>
                </label>
                <div class="enter__form-span">Не помню пароль</div>
            </div>
            <button class="enter__form-btn" type="submit">Войти</button>
        </form>
        <div class="enter__text">Ещё нет профиля? <span>Зарегистрируйтесь</span></div>
    </div>
    <img class="enter__close" src="./img/close.svg" alt="img">
</div>
<div class="enter">
    <div class="enter__left">
        <div class="enter__heading">Приветствуем вас<br>на <span>VetAcademy</span></div>
        <div class="enter__headline">Войдите в свой профиль</div>
    </div>
    <div class="enter__right">
        <div class="enter__block">
            <div class="enter__block-text">Войти через социальные сети</div>
            <img class="enter__img" src="./img/subtract1.svg" alt="img">
            <img class="enter__img" src="./img/subtract2.svg" alt="img">
        </div>
        <form class="enter__form" action="#">
            <div class="enter__form-block error">
                <div class="enter__form-text">Email</div>
                <div class="enter__form-flex">
                    <input class="enter__form-input" type="text" placeholder="Empty">
                    <img class="enter__form-watch" src="./img/close.svg" alt="&#x2715">
                </div>
            </div>
            <div class="enter__form-block error">
                <div class="enter__form-text">Password</div>
                <div class="enter__form-flex">
                    <input class="enter__form-input" type="password" placeholder="Empty">
                    <img class="enter__form-watch" src="./img/visibility.svg" alt="img">
                    <img class="enter__form-done" src="./img/done.svg" alt="img">
                </div>
            </div>
            <div class="enter__form-checkbox">
                <label class="container-checkbox">Запомнить меня
                    <input type="checkbox">
                    <span class="checkmark"></span>
                </label>
                <div class="enter__form-span">Не помню пароль</div>
            </div>
            <button class="enter__form-btn" type="submit">Войти</button>
        </form>
        <div class="enter__text">Ещё нет профиля? <span>Зарегистрируйтесь</span></div>
    </div>
    <img class="enter__close" src="./img/close.svg" alt="img">
</div>
<div class="enter">
    <div class="enter__left">
        <div class="enter__heading">Приветствуем вас<br>на <span>VetAcademy</span></div>
        <div class="enter__headline">Войдите в свой профиль</div>
    </div>
    <div class="enter__right">
        <div class="enter__block">
            <div class="enter__block-text">Войти через социальные сети</div>
            <img class="enter__img" src="./img/subtract1.svg" alt="img">
            <img class="enter__img" src="./img/subtract2.svg" alt="img">
        </div>
        <form class="enter__form" action="#">
            <div class="enter__form-block success">
                <div class="enter__form-text">Email</div>
                <div class="enter__form-flex">
                    <input class="enter__form-input" type="text" placeholder="Empty">
                    <img class="enter__form-watch enter__form-watch--success" src="./img/close.svg" alt="&#x2715">
                </div>
            </div>
            <div class="enter__form-block success">
                <div class="enter__form-text">Password</div>
                <div class="enter__form-flex">
                    <input class="enter__form-input" type="password" placeholder="Empty">
                    <img class="enter__form-watch" src="./img/visibility.svg" alt="img">
                    <img class="enter__form-done" src="./img/done.svg" alt="img">
                </div>
            </div>
            <div class="enter__form-checkbox">
                <label class="container-checkbox">Запомнить меня
                    <input type="checkbox">
                    <span class="checkmark"></span>
                </label>
                <div class="enter__form-span">Не помню пароль</div>
            </div>
            <button class="enter__form-btn" type="submit">Войти</button>
        </form>
        <div class="enter__text">Ещё нет профиля? <span>Зарегистрируйтесь</span></div>
    </div>
    <img class="enter__close" src="./img/close.svg" alt="img">
</div>
