<div class="enter">
    <div class="enter__left">
        <div class="enter__heading">Приветствуем вас<br>на <span>VetAcademy</span></div>
        <div class="enter__headline">Войдите в свой профиль</div>
    </div>
    <div class="enter__right">
        <div class="enter__block">
            <div class="enter__block-text">Войти через социальные сети</div>
            <img class="enter__img" src="./img/subtract1.svg" alt="img">
            <img class="enter__img" src="./img/subtract2.svg" alt="img">
        </div>
        <form action="#">
            <div>Email</div>
            <input type="text">
            <div>Password</div>
            <input type="text">
            <div>
                <label for="1">
                    <input id="1" type="checkbox">
                    <span>Запомнить меня</span>
                </label>
                <div>Не помню пароль</div>
            </div>
            <button type="submit"></button>
        </form>
        <div>Ещё нет профиля? <span>Зарегистрируйтесь</span></div>
    </div>
    <img class="enter__close" src="./img/close.svg" alt="img">
</div>