<div class="events">
    <div class="events__heading">Участвуйте в <span>мероприятиях</span></div>
    <div class="events__showcase">
        <div class="events__block">
            <div class="events__card">
                <div class="events__card-left events__card-left-1">
                    <div class="events__card-padding">
                        <img class="events__card-leftImg" src="./img/save.svg" alt="img">
                        <div class="events__card-flex">
                            <div class="events__card-block">
                                <div class="events__card-leftHeading">14</div>
                                <div class="events__card-text">июля</div>
                            </div>
                            <div class="events__card-block">
                                <div class="events__card-leftHeading">18:00</div>
                                <div class="events__card-text">По МСК времени</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="events__card-right">
                    <div class="events__card-rightTop">
                        <div class="events__card-headline">очное мероприяте</div>
                        <div class="events__card-rightHeading">Инфекционный перитонит<br>кошек</div>
                    </div>
                    <div class="events__card-rightBottom">
                        <div class="events__card-rightFlex">
                            <img class="events__card-rightImg" src="./img/frame1074.svg" alt="img">
                            <div class="events__card-rightAddress">г. Москва</div>
                        </div>
                        <div class="events__card-rightText">Конгресс-холл МВЦ Крокус Экспо...</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="events__block">
            <div class="events__card">
                <div class="events__card-left events__card-left-2">
                    <div class="events__card-padding">
                        <img class="events__card-leftImg" src="./img/save.svg" alt="img">
                        <div class="events__card-flex">
                            <div class="events__card-block">
                                <div class="events__card-leftHeading">14</div>
                                <div class="events__card-text">июля</div>
                            </div>
                            <div class="events__card-block">
                                <div class="events__card-leftHeading">18:00</div>
                                <div class="events__card-text">По МСК времени</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="events__card-right">
                    <div class="events__card-rightTop">
                        <div class="events__card-headline"><span>Вебинар</span></div>
                        <div class="events__card-rightHeading">Инфекционный перитонит<br>кошек</div>
                    </div>
                    <div class="events__card-rightBottom events__card-rightBottom-2">
                        <div class="events__card-rightFlex">
                            <img class="events__card-rightImg" src="./img/ellipse228.png" alt="img">
                            <div class="events__card-rightAddress">Алла Кунцевич</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <button class="events__btn">Смотреть все</button>
</div>