<div class="favorites">
    <div class="events">
        <div class="events__heading">Мероприятия</div>
        <div id="events" class="events__showcase">
            <div>
                <div class="events__block">
                    <div class="events__card">
                        <div class="events__card-left events__card-left-1">
                            <div class="events__card-padding">
                                <img class="events__card-leftImg" src="./img/save.svg" alt="img">
                                <div class="events__card-flex">
                                    <div class="events__card-block">
                                        <div class="events__card-leftHeading">14</div>
                                        <div class="events__card-text">июля</div>
                                    </div>
                                    <div class="events__card-block">
                                        <div class="events__card-leftHeading">18:00</div>
                                        <div class="events__card-text">По МСК времени</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="events__card-right">
                            <div class="events__card-rightTop">
                                <div class="events__card-headline">очное мероприяте</div>
                                <div class="events__card-rightHeading">Инфекционный перитонит<br>кошек</div>
                            </div>
                            <div class="events__card-rightBottom">
                                <div class="events__card-rightFlex">
                                    <img class="events__card-rightImg" src="./img/frame1074.svg" alt="img">
                                    <div class="events__card-rightAddress">г. Москва</div>
                                </div>
                                <div class="events__card-rightText">Конгресс-холл МВЦ Крокус Экспо...</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="events__block">
                    <div class="events__card">
                        <div class="events__card-left events__card-left-2">
                            <div class="events__card-padding">
                                <img class="events__card-leftImg" src="./img/save.svg" alt="img">
                                <div class="events__card-flex">
                                    <div class="events__card-block">
                                        <div class="events__card-leftHeading">14</div>
                                        <div class="events__card-text">июля</div>
                                    </div>
                                    <div class="events__card-block">
                                        <div class="events__card-leftHeading">18:00</div>
                                        <div class="events__card-text">По МСК времени</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="events__card-right">
                            <div class="events__card-rightTop">
                                <div class="events__card-headline"><span>Вебинар</span></div>
                                <div class="events__card-rightHeading">Инфекционный перитонит<br>кошек</div>
                            </div>
                            <div class="events__card-rightBottom events__card-rightBottom-2">
                                <div class="events__card-rightFlex">
                                    <img class="events__card-rightImg" src="./img/ellipse228.png" alt="img">
                                    <div class="events__card-rightAddress">Алла Кунцевич</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="events__block">
                    <div class="events__card">
                        <div class="events__card-left events__card-left-2">
                            <div class="events__card-padding">
                                <img class="events__card-leftImg" src="./img/save.svg" alt="img">
                                <div class="events__card-flex">
                                    <div class="events__card-block">
                                        <div class="events__card-leftHeading">14</div>
                                        <div class="events__card-text">июля</div>
                                    </div>
                                    <div class="events__card-block">
                                        <div class="events__card-leftHeading">18:00</div>
                                        <div class="events__card-text">По МСК времени</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="events__card-right">
                            <div class="events__card-rightTop">
                                <div class="events__card-headline"><span>Вебинар</span></div>
                                <div class="events__card-rightHeading">Инфекционный перитонит<br>кошек</div>
                            </div>
                            <div class="events__card-rightBottom events__card-rightBottom-2">
                                <div class="events__card-rightFlex">
                                    <img class="events__card-rightImg" src="./img/ellipse228.png" alt="img">
                                    <div class="events__card-rightAddress">Алла Кунцевич</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="events__block">
                    <div class="events__card">
                        <div class="events__card-left events__card-left-2">
                            <div class="events__card-padding">
                                <img class="events__card-leftImg" src="./img/save.svg" alt="img">
                                <div class="events__card-flex">
                                    <div class="events__card-block">
                                        <div class="events__card-leftHeading">14</div>
                                        <div class="events__card-text">июля</div>
                                    </div>
                                    <div class="events__card-block">
                                        <div class="events__card-leftHeading">18:00</div>
                                        <div class="events__card-text">По МСК времени</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="events__card-right">
                            <div class="events__card-rightTop">
                                <div class="events__card-headline"><span>Вебинар</span></div>
                                <div class="events__card-rightHeading">Инфекционный перитонит<br>кошек</div>
                            </div>
                            <div class="events__card-rightBottom events__card-rightBottom-2">
                                <div class="events__card-rightFlex">
                                    <img class="events__card-rightImg" src="./img/ellipse228.png" alt="img">
                                    <div class="events__card-rightAddress">Алла Кунцевич</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="custom-nav">
            <div id="prev-arrow">
                <img src="./img/custom-arrow.svg">
            </div>
            <div id="slide-count">
                1 / 2
            </div>
            <div id="next-arrow">
                <img src="./img/custom-arrow.svg">
            </div>
        </div>
    </div>

    <div class="articles">
        <div class="articles__heading">Статьи</div>
        <div class="articles__showcase">
            <div class="articles__card">
                <div>
                    <div class="articles__card-top articles__card-1">
                        <img class="articles__card-img" src="./img/save.svg" alt="img">
                        <div class="articles__card-time">
                            <img class="articles__card-timeImg" src="./img/clock.svg" alt="img">
                            <div class="articles__card-timeText">15 мин</div>
                        </div>
                    </div>
                    <div class="articles__card-flex">
                        <a class="articles__card-link" href="#">Статья</a>
                        <div class="articles__card-heading">Пробная элиминационная диета: настрой на успех</div>
                        <div class="articles__card-user">
                            <img class="articles__card-icon" src="./img/user.svg" alt="img">
                            <div class="articles__card-text">Элизабет А. Берлинер ...</div>
                        </div>
                    </div>
                </div>
                <div class="articles__card-footer">
                    <div class="articles__card-footerLeft">
                        <div class="articles__card-block">
                            <img class="articles__card-blockImg" src="./img/star.svg" alt="img">
                            <div class="articles__card-footerText">4,8</div>
                        </div>
                        <div class="articles__card-block">
                            <img class="articles__card-blockImg" src="./img/eye.svg" alt="img">
                            <div class="articles__card-footerText">150 тыс.</div>
                        </div>
                    </div>
                    <div class="articles__card-footerText">1 день назад</div>
                </div>
            </div>
            <div class="articles__card">
                <div>
                    <div class="articles__card-top articles__card-2">
                        <img class="articles__card-img" src="./img/save.svg" alt="img">
                        <div class="articles__card-time">
                            <img class="articles__card-timeImg" src="./img/clock.svg" alt="img">
                            <div class="articles__card-timeText">15 мин</div>
                        </div>
                    </div>
                    <div class="articles__card-flex">
                        <a class="articles__card-link" href="#">Статья</a>
                        <div class="articles__card-heading">Инфекционный перитонит кошек</div>
                        <div class="articles__card-user">
                            <img class="articles__card-icon" src="./img/user.svg" alt="img">
                            <div class="articles__card-text">Элизабет А. Берлинер ...</div>
                        </div>
                    </div>
                </div>
                <div class="articles__card-footer">
                    <div class="articles__card-footerLeft">
                        <div class="articles__card-block">
                            <img class="articles__card-blockImg" src="./img/star.svg" alt="img">
                            <div class="articles__card-footerText">4,8</div>
                        </div>
                        <div class="articles__card-block">
                            <img class="articles__card-blockImg" src="./img/eye.svg" alt="img">
                            <div class="articles__card-footerText">150 тыс.</div>
                        </div>
                    </div>
                    <div class="articles__card-footerText">1 день назад</div>
                </div>
            </div>
            <div class="articles__card">
                <div>
                    <div class="articles__card-top articles__card-3">
                        <img class="articles__card-img" src="./img/save.svg" alt="img">
                        <div class="articles__card-time">
                            <img class="articles__card-timeImg" src="./img/clock.svg" alt="img">
                            <div class="articles__card-timeText">15 мин</div>
                        </div>
                    </div>
                    <div class="articles__card-flex">
                        <a class="articles__card-link" href="#">Статья</a>
                        <div class="articles__card-heading">Дисбиоз кишечника<br>у собак</div>
                        <div class="articles__card-user">
                            <img class="articles__card-icon" src="./img/user.svg" alt="img">
                            <div class="articles__card-text">Элизабет А. Берлинер ...</div>
                        </div>
                    </div>
                </div>
                <div class="articles__card-footer">
                    <div class="articles__card-footerLeft">
                        <div class="articles__card-block">
                            <img class="articles__card-blockImg" src="./img/star.svg" alt="img">
                            <div class="articles__card-footerText">4,8</div>
                        </div>
                        <div class="articles__card-block">
                            <img class="articles__card-blockImg" src="./img/eye.svg" alt="img">
                            <div class="articles__card-footerText">150 тыс.</div>
                        </div>
                    </div>
                    <div class="articles__card-footerText">1 день назад</div>
                </div>
            </div>
        </div>
        <button class="show-more-btn">Показать еще 3 из 3</button>
    </div>

    <div class="training training--favorites">
        <div class="training__heading">Обучение</div>
        <div class="training__showcase">
            <div class="training__card">
                <div class="training__card-top training__card-1">
                    <img class="training__card-img" src="./img/saveWhite.svg" alt="img">
                    <div class="training__card-progress">
                        <div class="training__card-progressText">50%</div>
                    </div>
                </div>
                <div class="training__card-bottom">
                    <div class="training__card-headline">Мини-курс</div>
                    <div class="training__card-heading">Пробная элиминационная диета: настрой на успех</div>
                    <div class="training__card-text">Описание курса, далее текст-рыба, далее текст-рыба далее текст-рыба, далее текст-рыба</div>
                </div>
            </div>
            <div class="training__card">
                <div class="training__card-top training__card-2">
                    <img class="training__card-img" src="./img/saveWhite.svg" alt="img">
                    <div class="training__card-progress">
                        <div class="training__card-progressText">50%</div>
                    </div>
                </div>
                <div class="training__card-bottom">
                    <div class="training__card-headline">Мини-курс</div>
                    <div class="training__card-heading">Пробная элиминационная диета: настрой на успех</div>
                    <div class="training__card-text">Описание курса, далее текст-рыба, далее текст-рыба далее текст-рыба, далее текст-рыба</div>
                </div>
            </div>
            <div class="training__card">
                <div class="training__card-top training__card-3">
                    <img class="training__card-img" src="./img/saveWhite.svg" alt="img">
                    <div class="training__card-progress">
                        <div class="training__card-progressText">50%</div>
                    </div>
                </div>
                <div class="training__card-bottom">
                    <div class="training__card-headline">Мини-курс</div>
                    <div class="training__card-heading">Пробная элиминационная диета: настрой на успех</div>
                    <div class="training__card-text">Описание курса, далее текст-рыба, далее текст-рыба далее текст-рыба, далее текст-рыба</div>
                </div>
            </div>
            <div class="training__card">
                <div class="training__card-top training__card-4">
                    <img class="training__card-img" src="./img/saveWhite.svg" alt="img">
                    <div class="training__card-progress">
                        <div class="training__card-progressText">50%</div>
                    </div>
                </div>
                <div class="training__card-bottom">
                    <div class="training__card-headline">Мини-курс</div>
                    <div class="training__card-heading">Пробная элиминационная диета: настрой на успех</div>
                    <div class="training__card-text">Описание курса, далее текст-рыба, далее текст-рыба далее текст-рыба, далее текст-рыба</div>
                </div>
            </div>
            <div class="training__card">
                <div class="training__card-top training__card-5">
                    <img class="training__card-img" src="./img/saveWhite.svg" alt="img">
                    <div class="training__card-progress">
                        <div class="training__card-progressText">50%</div>
                    </div>
                </div>
                <div class="training__card-bottom">
                    <div class="training__card-headline">курс</div>
                    <div class="training__card-heading">Пробная элиминационная диета: настрой на успех</div>
                    <div class="training__card-text">Описание курса, далее текст-рыба, далее текст-рыба далее текст-рыба, далее текст-рыба</div>
                </div>
            </div>
        </div>
        <button class="show-more-btn">Показать еще 6 из 24</button>
    </div>
</div>
