<div class="favorites">
    <div class="events">
        <div class="events__heading">Мероприятия</div>
        <div id="events" class="events__showcase">
            <div>
                <div class="events__block">
                    <div class="events__card">
                        <div class="events__card-left events__card-left-1">
                            <div class="events__card-padding">
                                <img class="events__card-leftImg" src="./img/save.svg" alt="img">
                                <div class="events__card-flex">
                                    <div class="events__card-block">
                                        <div class="events__card-leftHeading">14</div>
                                        <div class="events__card-text">июля</div>
                                    </div>
                                    <div class="events__card-block">
                                        <div class="events__card-leftHeading">18:00</div>
                                        <div class="events__card-text">По МСК времени</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="events__card-right">
                            <div class="events__card-rightTop">
                                <div class="events__card-headline">очное мероприяте</div>
                                <div class="events__card-rightHeading">Инфекционный перитонит<br>кошек</div>
                            </div>
                            <div class="events__card-rightBottom">
                                <div class="events__card-rightFlex">
                                    <img class="events__card-rightImg" src="./img/frame1074.svg" alt="img">
                                    <div class="events__card-rightAddress">г. Москва</div>
                                </div>
                                <div class="events__card-rightText">Конгресс-холл МВЦ Крокус Экспо...</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="events__block">
                    <div class="events__card">
                        <div class="events__card-left events__card-left-2">
                            <div class="events__card-padding">
                                <img class="events__card-leftImg" src="./img/save.svg" alt="img">
                                <div class="events__card-flex">
                                    <div class="events__card-block">
                                        <div class="events__card-leftHeading">14</div>
                                        <div class="events__card-text">июля</div>
                                    </div>
                                    <div class="events__card-block">
                                        <div class="events__card-leftHeading">18:00</div>
                                        <div class="events__card-text">По МСК времени</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="events__card-right">
                            <div class="events__card-rightTop">
                                <div class="events__card-headline"><span>Вебинар</span></div>
                                <div class="events__card-rightHeading">Инфекционный перитонит<br>кошек</div>
                            </div>
                            <div class="events__card-rightBottom events__card-rightBottom-2">
                                <div class="events__card-rightFlex">
                                    <img class="events__card-rightImg" src="./img/ellipse228.png" alt="img">
                                    <div class="events__card-rightAddress">Алла Кунцевич</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="events__block">
                    <div class="events__card">
                        <div class="events__card-left events__card-left-2">
                            <div class="events__card-padding">
                                <img class="events__card-leftImg" src="./img/save.svg" alt="img">
                                <div class="events__card-flex">
                                    <div class="events__card-block">
                                        <div class="events__card-leftHeading">14</div>
                                        <div class="events__card-text">июля</div>
                                    </div>
                                    <div class="events__card-block">
                                        <div class="events__card-leftHeading">18:00</div>
                                        <div class="events__card-text">По МСК времени</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="events__card-right">
                            <div class="events__card-rightTop">
                                <div class="events__card-headline"><span>Вебинар</span></div>
                                <div class="events__card-rightHeading">Инфекционный перитонит<br>кошек</div>
                            </div>
                            <div class="events__card-rightBottom events__card-rightBottom-2">
                                <div class="events__card-rightFlex">
                                    <img class="events__card-rightImg" src="./img/ellipse228.png" alt="img">
                                    <div class="events__card-rightAddress">Алла Кунцевич</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="events__block">
                    <div class="events__card">
                        <div class="events__card-left events__card-left-2">
                            <div class="events__card-padding">
                                <img class="events__card-leftImg" src="./img/save.svg" alt="img">
                                <div class="events__card-flex">
                                    <div class="events__card-block">
                                        <div class="events__card-leftHeading">14</div>
                                        <div class="events__card-text">июля</div>
                                    </div>
                                    <div class="events__card-block">
                                        <div class="events__card-leftHeading">18:00</div>
                                        <div class="events__card-text">По МСК времени</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="events__card-right">
                            <div class="events__card-rightTop">
                                <div class="events__card-headline"><span>Вебинар</span></div>
                                <div class="events__card-rightHeading">Инфекционный перитонит<br>кошек</div>
                            </div>
                            <div class="events__card-rightBottom events__card-rightBottom-2">
                                <div class="events__card-rightFlex">
                                    <img class="events__card-rightImg" src="./img/ellipse228.png" alt="img">
                                    <div class="events__card-rightAddress">Алла Кунцевич</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="custom-nav">
            <div id="prev-arrow" class="prev-arrow">
                <img src="./img/custom-arrow.svg">
            </div>
            <div id="slide-count" class="count-slide">
                1 / 2
            </div>
            <div id="next-arrow" class="next-arrow">
                <img src="./img/custom-arrow.svg">
            </div>
        </div>
    </div>
<div>
    <%- include('articles.ejs'); %>
    <button class="show-more-btn">Показать еще 3 из 3</button>
</div>
    <div class="training--favorites">
        <%- include('training.ejs'); %>
        <button class="show-more-btn">Показать еще 6 из 24</button>
    </div>
</div>
