<footer class="footer">
    <section class="container">
        <%- include('mailing.ejs'); %>
        <div class="footer__text">Уникальная образовательная экосистема<br>для ветеринарных специалистов</div>
        <%- include('ecosystem.ejs'); %>
        <%- include('support.ejs'); %>
    </section>
</footer>