<footer id="footer" class="footer">
    <section class="container">
        <%- include('mailing.ejs'); %>
        <div class="footer__block">
            <img class="footer__img" src="./img/logoWhite.svg" alt="logo">
            <div class="footer__text">Уникальная образовательная экосистема<br>для ветеринарных специалистов</div>
        </div>
        <%- include('ecosystem.ejs'); %>
        <%- include('support.ejs'); %>
        <div class="footer__bottom">© 2022, Royal Canin SAS. Все права защищены</div>
    </section>
</footer>
