<div class="gifts">
    <div class="gifts__heading">Избранные подарки</div>
    <div class="gifts__nav">
        <a class="gifts__nav-link" href="#">Профессиональная литература</a>
        <a class="gifts__nav-link" href="#">Вебинары</a>
        <a class="gifts__nav-link" href="#">Электронные сертификаты</a>
        <a class="gifts__nav-link" href="#">Конференции</a>
    </div>
    <div id="gifts" class="gifts__showcase">
        <div>
            <div class="gifts__flex">
                <div class="gifts__card">
                    <div class="gifts__card-top">
                        <div class="gifts__card-sticker">Новинка</div>
                        <div class="gifts__card-remain">
                            <div class="gifts__card-remainHeadline">Осталось<br>накопить</div>
                            <div class="gifts__card-remainHeading">1000</div>
                            <div class="gifts__card-remainText">баллов</div>
                        </div>
                    </div>
                    <div class="gifts__card-bottom">
                        <div>
                            <div class="gifts__card-bottomHeadline">Книга</div>
                            <div class="gifts__card-bottomHeading">Гастроэнтерология собак<br>и кошек</div>
                        </div>
                        <div class="gifts__card-bottomButtons">
                            <button class="gifts__card-bottomBtn">
                                <img class="gifts__card-bottomImg" src="./img/frame1116.svg" alt="img">
                                В корзину
                            </button>
                            <div class="gifts__card-bottomLike">
                                <img class="gifts__card-bottomHeart" src="./img/heart.svg" alt="img">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="gifts__card">
                    <div class="gifts__card-top gifts__card-top-2">
                        <div class="gifts__card-sticker">Новинка</div>
                        <div class="gifts__card-remain">
                            <div class="gifts__card-remainHeadline">Осталось<br>накопить</div>
                            <div class="gifts__card-remainHeading">1000</div>
                            <div class="gifts__card-remainText">баллов</div>
                        </div>
                    </div>
                    <div class="gifts__card-bottom">
                        <div>
                            <div class="gifts__card-bottomHeadline">Книга</div>
                            <div class="gifts__card-bottomHeading">Гастроэнтерология собак<br>и кошек</div>
                        </div>
                        <div class="gifts__card-bottomButtons">
                            <button class="gifts__card-bottomBtn">
                                <img class="gifts__card-bottomImg" src="./img/frame1116.svg" alt="img">
                                В корзину
                            </button>
                            <div class="gifts__card-bottomLike">
                                <img class="gifts__card-bottomHeart" src="./img/heart.svg" alt="img">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="gifts__card">
                    <div class="gifts__card-top gifts__card-top-3">
                        <div class="gifts__card-sticker">Хит продаж</div>
                        <div class="gifts__card-remain">
                            <div class="gifts__card-remainHeadline">Осталось<br>накопить</div>
                            <div class="gifts__card-remainHeading">1000</div>
                            <div class="gifts__card-remainText">баллов</div>
                        </div>
                    </div>
                    <div class="gifts__card-bottom">
                        <div>
                            <div class="gifts__card-bottomHeadline">Книга</div>
                            <div class="gifts__card-bottomHeading">Гастроэнтерология собак<br>и кошек</div>
                        </div>
                        <div class="gifts__card-bottomButtons">
                            <button class="gifts__card-bottomBtn">
                                <img class="gifts__card-bottomImg" src="./img/frame1116.svg" alt="img">
                                В корзину
                            </button>
                            <div class="gifts__card-bottomLike">
                                <img class="gifts__card-bottomHeart" src="./img/heart.svg" alt="img">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="gifts__card">
                    <div class="gifts__card-top gifts__card-top-4">
                        <div class="gifts__card-sticker">Новинка</div>
                        <div class="gifts__card-remain">
                            <div class="gifts__card-remainHeadline">Осталось<br>накопить</div>
                            <div class="gifts__card-remainHeading">1000</div>
                            <div class="gifts__card-remainText">баллов</div>
                        </div>
                    </div>
                    <div class="gifts__card-bottom">
                        <div>
                            <div class="gifts__card-bottomHeadline">Книга</div>
                            <div class="gifts__card-bottomHeading">Конференция по репродукции «беременность и роды собак и кошек»</div>
                        </div>
                        <div class="gifts__card-bottomButtons">
                            <button class="gifts__card-bottomBtn">
                                <img class="gifts__card-bottomImg" src="./img/frame1116.svg" alt="img">
                                В корзину
                            </button>
                            <div class="gifts__card-bottomLike">
                                <img class="gifts__card-bottomHeart" src="./img/heart.svg" alt="img">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="gifts__flex">
                <div class="gifts__card">
                    <div class="gifts__card-top">
                        <div class="gifts__card-sticker">Новинка</div>
                        <div class="gifts__card-remain">
                            <div class="gifts__card-remainHeadline">Осталось<br>накопить</div>
                            <div class="gifts__card-remainHeading">1000</div>
                            <div class="gifts__card-remainText">баллов</div>
                        </div>
                    </div>
                    <div class="gifts__card-bottom">
                        <div>
                            <div class="gifts__card-bottomHeadline">Книга</div>
                            <div class="gifts__card-bottomHeading">Гастроэнтерология собак<br>и кошек</div>
                        </div>
                        <div class="gifts__card-bottomButtons">
                            <button class="gifts__card-bottomBtn">
                                <img class="gifts__card-bottomImg" src="./img/frame1116.svg" alt="img">
                                В корзину
                            </button>
                            <div class="gifts__card-bottomLike">
                                <img class="gifts__card-bottomHeart" src="./img/heart.svg" alt="img">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="gifts__card">
                    <div class="gifts__card-top gifts__card-top-2">
                        <div class="gifts__card-sticker">Новинка</div>
                        <div class="gifts__card-remain">
                            <div class="gifts__card-remainHeadline">Осталось<br>накопить</div>
                            <div class="gifts__card-remainHeading">1000</div>
                            <div class="gifts__card-remainText">баллов</div>
                        </div>
                    </div>
                    <div class="gifts__card-bottom">
                        <div>
                            <div class="gifts__card-bottomHeadline">Книга</div>
                            <div class="gifts__card-bottomHeading">Гастроэнтерология собак<br>и кошек</div>
                        </div>
                        <div class="gifts__card-bottomButtons">
                            <button class="gifts__card-bottomBtn">
                                <img class="gifts__card-bottomImg" src="./img/frame1116.svg" alt="img">
                                В корзину
                            </button>
                            <div class="gifts__card-bottomLike">
                                <img class="gifts__card-bottomHeart" src="./img/heart.svg" alt="img">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="gifts__card">
                    <div class="gifts__card-top gifts__card-top-3">
                        <div class="gifts__card-sticker">Хит продаж</div>
                        <div class="gifts__card-remain">
                            <div class="gifts__card-remainHeadline">Осталось<br>накопить</div>
                            <div class="gifts__card-remainHeading">1000</div>
                            <div class="gifts__card-remainText">баллов</div>
                        </div>
                    </div>
                    <div class="gifts__card-bottom">
                        <div>
                            <div class="gifts__card-bottomHeadline">Книга</div>
                            <div class="gifts__card-bottomHeading">Гастроэнтерология собак<br>и кошек</div>
                        </div>
                        <div class="gifts__card-bottomButtons">
                            <button class="gifts__card-bottomBtn">
                                <img class="gifts__card-bottomImg" src="./img/frame1116.svg" alt="img">
                                В корзину
                            </button>
                            <div class="gifts__card-bottomLike">
                                <img class="gifts__card-bottomHeart" src="./img/heart.svg" alt="img">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="gifts__card">
                    <div class="gifts__card-top gifts__card-top-4">
                        <div class="gifts__card-sticker">Новинка</div>
                        <div class="gifts__card-remain">
                            <div class="gifts__card-remainHeadline">Осталось<br>накопить</div>
                            <div class="gifts__card-remainHeading">1000</div>
                            <div class="gifts__card-remainText">баллов</div>
                        </div>
                    </div>
                    <div class="gifts__card-bottom">
                        <div>
                            <div class="gifts__card-bottomHeadline">Книга</div>
                            <div class="gifts__card-bottomHeading">Конференция по репродукции «беременность и роды собак и кошек»</div>
                        </div>
                        <div class="gifts__card-bottomButtons">
                            <button class="gifts__card-bottomBtn">
                                <img class="gifts__card-bottomImg" src="./img/frame1116.svg" alt="img">
                                В корзину
                            </button>
                            <div class="gifts__card-bottomLike">
                                <img class="gifts__card-bottomHeart" src="./img/heart.svg" alt="img">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="gifts__flex">
                <div class="gifts__card">
                    <div class="gifts__card-top">
                        <div class="gifts__card-sticker">Новинка</div>
                        <div class="gifts__card-remain">
                            <div class="gifts__card-remainHeadline">Осталось<br>накопить</div>
                            <div class="gifts__card-remainHeading">1000</div>
                            <div class="gifts__card-remainText">баллов</div>
                        </div>
                    </div>
                    <div class="gifts__card-bottom">
                        <div>
                            <div class="gifts__card-bottomHeadline">Книга</div>
                            <div class="gifts__card-bottomHeading">Гастроэнтерология собак<br>и кошек</div>
                        </div>
                        <div class="gifts__card-bottomButtons">
                            <button class="gifts__card-bottomBtn">
                                <img class="gifts__card-bottomImg" src="./img/frame1116.svg" alt="img">
                                В корзину
                            </button>
                            <div class="gifts__card-bottomLike">
                                <img class="gifts__card-bottomHeart" src="./img/heart.svg" alt="img">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="gifts__card">
                    <div class="gifts__card-top gifts__card-top-2">
                        <div class="gifts__card-sticker">Новинка</div>
                        <div class="gifts__card-remain">
                            <div class="gifts__card-remainHeadline">Осталось<br>накопить</div>
                            <div class="gifts__card-remainHeading">1000</div>
                            <div class="gifts__card-remainText">баллов</div>
                        </div>
                    </div>
                    <div class="gifts__card-bottom">
                        <div>
                            <div class="gifts__card-bottomHeadline">Книга</div>
                            <div class="gifts__card-bottomHeading">Гастроэнтерология собак<br>и кошек</div>
                        </div>
                        <div class="gifts__card-bottomButtons">
                            <button class="gifts__card-bottomBtn">
                                <img class="gifts__card-bottomImg" src="./img/frame1116.svg" alt="img">
                                В корзину
                            </button>
                            <div class="gifts__card-bottomLike">
                                <img class="gifts__card-bottomHeart" src="./img/heart.svg" alt="img">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="gifts__card">
                    <div class="gifts__card-top gifts__card-top-3">
                        <div class="gifts__card-sticker">Хит продаж</div>
                        <div class="gifts__card-remain">
                            <div class="gifts__card-remainHeadline">Осталось<br>накопить</div>
                            <div class="gifts__card-remainHeading">1000</div>
                            <div class="gifts__card-remainText">баллов</div>
                        </div>
                    </div>
                    <div class="gifts__card-bottom">
                        <div>
                            <div class="gifts__card-bottomHeadline">Книга</div>
                            <div class="gifts__card-bottomHeading">Гастроэнтерология собак<br>и кошек</div>
                        </div>
                        <div class="gifts__card-bottomButtons">
                            <button class="gifts__card-bottomBtn">
                                <img class="gifts__card-bottomImg" src="./img/frame1116.svg" alt="img">
                                В корзину
                            </button>
                            <div class="gifts__card-bottomLike">
                                <img class="gifts__card-bottomHeart" src="./img/heart.svg" alt="img">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="gifts__card">
                    <div class="gifts__card-top gifts__card-top-4">
                        <div class="gifts__card-sticker">Новинка</div>
                        <div class="gifts__card-remain">
                            <div class="gifts__card-remainHeadline">Осталось<br>накопить</div>
                            <div class="gifts__card-remainHeading">1000</div>
                            <div class="gifts__card-remainText">баллов</div>
                        </div>
                    </div>
                    <div class="gifts__card-bottom">
                        <div>
                            <div class="gifts__card-bottomHeadline">Книга</div>
                            <div class="gifts__card-bottomHeading">Конференция по репродукции «беременность и роды собак и кошек»</div>
                        </div>
                        <div class="gifts__card-bottomButtons">
                            <button class="gifts__card-bottomBtn">
                                <img class="gifts__card-bottomImg" src="./img/frame1116.svg" alt="img">
                                В корзину
                            </button>
                            <div class="gifts__card-bottomLike">
                                <img class="gifts__card-bottomHeart" src="./img/heart.svg" alt="img">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="gifts__flex">
                <div class="gifts__card">
                    <div class="gifts__card-top">
                        <div class="gifts__card-sticker">Новинка</div>
                        <div class="gifts__card-remain">
                            <div class="gifts__card-remainHeadline">Осталось<br>накопить</div>
                            <div class="gifts__card-remainHeading">1000</div>
                            <div class="gifts__card-remainText">баллов</div>
                        </div>
                    </div>
                    <div class="gifts__card-bottom">
                        <div>
                            <div class="gifts__card-bottomHeadline">Книга</div>
                            <div class="gifts__card-bottomHeading">Гастроэнтерология собак<br>и кошек</div>
                        </div>
                        <div class="gifts__card-bottomButtons">
                            <button class="gifts__card-bottomBtn">
                                <img class="gifts__card-bottomImg" src="./img/frame1116.svg" alt="img">
                                В корзину
                            </button>
                            <div class="gifts__card-bottomLike">
                                <img class="gifts__card-bottomHeart" src="./img/heart.svg" alt="img">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="gifts__card">
                    <div class="gifts__card-top gifts__card-top-2">
                        <div class="gifts__card-sticker">Новинка</div>
                        <div class="gifts__card-remain">
                            <div class="gifts__card-remainHeadline">Осталось<br>накопить</div>
                            <div class="gifts__card-remainHeading">1000</div>
                            <div class="gifts__card-remainText">баллов</div>
                        </div>
                    </div>
                    <div class="gifts__card-bottom">
                        <div>
                            <div class="gifts__card-bottomHeadline">Книга</div>
                            <div class="gifts__card-bottomHeading">Гастроэнтерология собак<br>и кошек</div>
                        </div>
                        <div class="gifts__card-bottomButtons">
                            <button class="gifts__card-bottomBtn">
                                <img class="gifts__card-bottomImg" src="./img/frame1116.svg" alt="img">
                                В корзину
                            </button>
                            <div class="gifts__card-bottomLike">
                                <img class="gifts__card-bottomHeart" src="./img/heart.svg" alt="img">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="gifts__card">
                    <div class="gifts__card-top gifts__card-top-3">
                        <div class="gifts__card-sticker">Хит продаж</div>
                        <div class="gifts__card-remain">
                            <div class="gifts__card-remainHeadline">Осталось<br>накопить</div>
                            <div class="gifts__card-remainHeading">1000</div>
                            <div class="gifts__card-remainText">баллов</div>
                        </div>
                    </div>
                    <div class="gifts__card-bottom">
                        <div>
                            <div class="gifts__card-bottomHeadline">Книга</div>
                            <div class="gifts__card-bottomHeading">Гастроэнтерология собак<br>и кошек</div>
                        </div>
                        <div class="gifts__card-bottomButtons">
                            <button class="gifts__card-bottomBtn">
                                <img class="gifts__card-bottomImg" src="./img/frame1116.svg" alt="img">
                                В корзину
                            </button>
                            <div class="gifts__card-bottomLike">
                                <img class="gifts__card-bottomHeart" src="./img/heart.svg" alt="img">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="gifts__card">
                    <div class="gifts__card-top gifts__card-top-4">
                        <div class="gifts__card-sticker">Новинка</div>
                        <div class="gifts__card-remain">
                            <div class="gifts__card-remainHeadline">Осталось<br>накопить</div>
                            <div class="gifts__card-remainHeading">1000</div>
                            <div class="gifts__card-remainText">баллов</div>
                        </div>
                    </div>
                    <div class="gifts__card-bottom">
                        <div>
                            <div class="gifts__card-bottomHeadline">Книга</div>
                            <div class="gifts__card-bottomHeading">Конференция по репродукции «беременность и роды собак и кошек»</div>
                        </div>
                        <div class="gifts__card-bottomButtons">
                            <button class="gifts__card-bottomBtn">
                                <img class="gifts__card-bottomImg" src="./img/frame1116.svg" alt="img">
                                В корзину
                            </button>
                            <div class="gifts__card-bottomLike">
                                <img class="gifts__card-bottomHeart" src="./img/heart.svg" alt="img">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="custom-nav">
        <div id="prev-arrow">
            <img src="./img/custom-arrow.svg">
        </div>
        <div id="count-slide">
            1 / 2
        </div>
        <div id="next-arrow">
            <img src="./img/custom-arrow.svg">
        </div>
    </div>
</div>