<div class="gifts">
    <div class="gifts__heading">Избранные подарки</div>
    <div class="gifts__nav">
        <a class="gifts__nav-link" href="#">Профессиональная литература</a>
        <a class="gifts__nav-link" href="#">Вебинары</a>
        <a class="gifts__nav-link" href="#">Электронные сертификаты</a>
        <a class="gifts__nav-link" href="#">Конференции</a>
    </div>
    <div id="gifts" class="gifts__showcase">
        <div>
            <div class="gifts__flex">
                <div class="gifts__card">
                    <div class="gifts__card-top">
                        <div class="gifts__card-sticker">Новинка</div>
                        <div class="gifts__card-remain">
                            <svg class="pie-chart" xmlns="http://www.w3.org/2000/svg" id="sv" width="62" height="62" viewBox="0 0 120 120">
                                <path id="0" fill="#ffffff" d="M60, 0 A60,60 0 0 1 60.005235987749316,119.99999977153693 L60.00497418836185,116.99999978296009 A57,57 0 0 0 60,3 Z"></path>
                                <path id="1" fill="transparent" d="M60.005235987749316, 119.99999977153693 A60,60 0 0 1 59.98952802454124,9.138522543139516e-7 L59.99005162331418,3.0000008681596384 A57,57 0 0 0 60.00497418836185,116.99999978296009 Z"></path>
                            </svg>
                            <div class="gifts__card-remainHeadline">Осталось<br>накопить</div>
                            <div class="gifts__card-remainHeading">1001</div>
                            <div class="gifts__card-remainText">баллов</div>
                        </div>
                    </div>
                    <div class="gifts__card-bottom">
                        <div>
                            <div class="gifts__card-bottomHeadline">Книга</div>
                            <div class="gifts__card-bottomHeading">Гастроэнтерология собак<br>и кошек</div>
                        </div>
                        <div class="gifts__card-bottomButtons">
                            <button class="gifts__card-bottomBtn">
                                <img class="gifts__card-bottomImg" src="./img/frame1116.svg" alt="img">
                                В корзину
                            </button>
                            <div class="gifts__card-bottomLike">
                                <img class="gifts__card-bottomHeart" src="./img/heart.svg" alt="img">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="gifts__card">
                    <div class="gifts__card-top gifts__card-top-2">
                        <div class="gifts__card-sticker">Новинка</div>
                        <div class="gifts__card-remain">
                            <svg class="pie-chart" xmlns="http://www.w3.org/2000/svg" id="sv" width="62" height="62" viewBox="0 0 120 120">
                                <path id="0" fill="#ffffff" d="M60, 0 A60,60 0 0 1 60.005235987749316,119.99999977153693 L60.00497418836185,116.99999978296009 A57,57 0 0 0 60,3 Z"></path>
                                <path id="1" fill="transparent" d="M60.005235987749316, 119.99999977153693 A60,60 0 0 1 59.98952802454124,9.138522543139516e-7 L59.99005162331418,3.0000008681596384 A57,57 0 0 0 60.00497418836185,116.99999978296009 Z"></path>
                            </svg>
                            <div class="gifts__card-remainHeadline">Осталось<br>накопить</div>
                            <div class="gifts__card-remainHeading">1000</div>
                            <div class="gifts__card-remainText">баллов</div>
                        </div>
                    </div>
                    <div class="gifts__card-bottom">
                        <div>
                            <div class="gifts__card-bottomHeadline">Книга</div>
                            <div class="gifts__card-bottomHeading">Гастроэнтерология собак<br>и кошек</div>
                        </div>
                        <div class="gifts__card-bottomButtons">
                            <button class="gifts__card-bottomBtn">
                                <img class="gifts__card-bottomImg" src="./img/frame1116.svg" alt="img">
                                В корзину
                            </button>
                            <div class="gifts__card-bottomLike">
                                <img class="gifts__card-bottomHeart" src="./img/heart.svg" alt="img">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="gifts__card">
                    <div class="gifts__card-top gifts__card-top-3">
                        <div class="gifts__card-sticker">Хит продаж</div>
                        <div class="gifts__card-remain">
                            <svg class="pie-chart" xmlns="http://www.w3.org/2000/svg" id="sv" width="62" height="62" viewBox="0 0 120 120">
                                <path id="0" fill="#ffffff" d="M60, 0 A60,60 0 0 1 60.005235987749316,119.99999977153693 L60.00497418836185,116.99999978296009 A57,57 0 0 0 60,3 Z"></path>
                                <path id="1" fill="transparent" d="M60.005235987749316, 119.99999977153693 A60,60 0 0 1 59.98952802454124,9.138522543139516e-7 L59.99005162331418,3.0000008681596384 A57,57 0 0 0 60.00497418836185,116.99999978296009 Z"></path>
                            </svg>
                            <div class="gifts__card-remainHeadline">Осталось<br>накопить</div>
                            <div class="gifts__card-remainHeading">1000</div>
                            <div class="gifts__card-remainText">баллов</div>
                        </div>
                    </div>
                    <div class="gifts__card-bottom">
                        <div>
                            <div class="gifts__card-bottomHeadline">Книга</div>
                            <div class="gifts__card-bottomHeading">Гастроэнтерология собак<br>и кошек</div>
                        </div>
                        <div class="gifts__card-bottomButtons">
                            <button class="gifts__card-bottomBtn">
                                <img class="gifts__card-bottomImg" src="./img/frame1116.svg" alt="img">
                                В корзину
                            </button>
                            <div class="gifts__card-bottomLike">
                                <img class="gifts__card-bottomHeart" src="./img/heart.svg" alt="img">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="gifts__card">
                    <div class="gifts__card-top gifts__card-top-4">
                        <div class="gifts__card-sticker">Новинка</div>
                        <div class="gifts__card-remain">
                            <svg class="pie-chart" xmlns="http://www.w3.org/2000/svg" id="sv" width="62" height="62" viewBox="0 0 120 120">
                                <path id="0" fill="#ffffff" d="M60, 0 A60,60 0 0 1 60.005235987749316,119.99999977153693 L60.00497418836185,116.99999978296009 A57,57 0 0 0 60,3 Z"></path>
                                <path id="1" fill="transparent" d="M60.005235987749316, 119.99999977153693 A60,60 0 0 1 59.98952802454124,9.138522543139516e-7 L59.99005162331418,3.0000008681596384 A57,57 0 0 0 60.00497418836185,116.99999978296009 Z"></path>
                            </svg>
                            <div class="gifts__card-remainHeadline">Осталось<br>накопить</div>
                            <div class="gifts__card-remainHeading">1000</div>
                            <div class="gifts__card-remainText">баллов</div>
                        </div>
                    </div>
                    <div class="gifts__card-bottom">
                        <div>
                            <div class="gifts__card-bottomHeadline">Книга</div>
                            <div class="gifts__card-bottomHeading">Конференция по репродукции «беременность и роды собак и кошек»</div>
                        </div>
                        <div class="gifts__card-bottomButtons">
                            <button class="gifts__card-bottomBtn">
                                <img class="gifts__card-bottomImg" src="./img/frame1116.svg" alt="img">
                                В корзину
                            </button>
                            <div class="gifts__card-bottomLike">
                                <img class="gifts__card-bottomHeart" src="./img/heart.svg" alt="img">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="gifts__flex">
                <div class="gifts__card">
                    <div class="gifts__card-top">
                        <div class="gifts__card-sticker">Новинка</div>
                        <div class="gifts__card-remain">
                            <svg class="pie-chart" xmlns="http://www.w3.org/2000/svg" id="sv" width="62" height="62" viewBox="0 0 120 120">
                                <path id="0" fill="#ffffff" d="M60, 0 A60,60 0 0 1 60.005235987749316,119.99999977153693 L60.00497418836185,116.99999978296009 A57,57 0 0 0 60,3 Z"></path>
                                <path id="1" fill="transparent" d="M60.005235987749316, 119.99999977153693 A60,60 0 0 1 59.98952802454124,9.138522543139516e-7 L59.99005162331418,3.0000008681596384 A57,57 0 0 0 60.00497418836185,116.99999978296009 Z"></path>
                            </svg>
                            <div class="gifts__card-remainHeadline">Осталось<br>накопить</div>
                            <div class="gifts__card-remainHeading">1000</div>
                            <div class="gifts__card-remainText">баллов</div>
                        </div>
                    </div>
                    <div class="gifts__card-bottom">
                        <div>
                            <div class="gifts__card-bottomHeadline">Книга</div>
                            <div class="gifts__card-bottomHeading">Гастроэнтерология собак<br>и кошек</div>
                        </div>
                        <div class="gifts__card-bottomButtons">
                            <button class="gifts__card-bottomBtn">
                                <img class="gifts__card-bottomImg" src="./img/frame1116.svg" alt="img">
                                В корзину
                            </button>
                            <div class="gifts__card-bottomLike">
                                <img class="gifts__card-bottomHeart" src="./img/heart.svg" alt="img">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="gifts__card">
                    <div class="gifts__card-top gifts__card-top-2">
                        <div class="gifts__card-sticker">Новинка</div>
                        <div class="gifts__card-remain">
                            <svg class="pie-chart" xmlns="http://www.w3.org/2000/svg" id="sv" width="62" height="62" viewBox="0 0 120 120">
                                <path id="0" fill="#ffffff" d="M60, 0 A60,60 0 0 1 60.005235987749316,119.99999977153693 L60.00497418836185,116.99999978296009 A57,57 0 0 0 60,3 Z"></path>
                                <path id="1" fill="transparent" d="M60.005235987749316, 119.99999977153693 A60,60 0 0 1 59.98952802454124,9.138522543139516e-7 L59.99005162331418,3.0000008681596384 A57,57 0 0 0 60.00497418836185,116.99999978296009 Z"></path>
                            </svg>
                            <div class="gifts__card-remainHeadline">Осталось<br>накопить</div>
                            <div class="gifts__card-remainHeading">1000</div>
                            <div class="gifts__card-remainText">баллов</div>
                        </div>
                    </div>
                    <div class="gifts__card-bottom">
                        <div>
                            <div class="gifts__card-bottomHeadline">Книга</div>
                            <div class="gifts__card-bottomHeading">Гастроэнтерология собак<br>и кошек</div>
                        </div>
                        <div class="gifts__card-bottomButtons">
                            <button class="gifts__card-bottomBtn">
                                <img class="gifts__card-bottomImg" src="./img/frame1116.svg" alt="img">
                                В корзину
                            </button>
                            <div class="gifts__card-bottomLike">
                                <img class="gifts__card-bottomHeart" src="./img/heart.svg" alt="img">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="gifts__card">
                    <div class="gifts__card-top gifts__card-top-3">
                        <div class="gifts__card-sticker">Хит продаж</div>
                        <div class="gifts__card-remain">
                            <svg class="pie-chart" xmlns="http://www.w3.org/2000/svg" id="sv" width="62" height="62" viewBox="0 0 120 120">
                                <path id="0" fill="#ffffff" d="M60, 0 A60,60 0 0 1 60.005235987749316,119.99999977153693 L60.00497418836185,116.99999978296009 A57,57 0 0 0 60,3 Z"></path>
                                <path id="1" fill="transparent" d="M60.005235987749316, 119.99999977153693 A60,60 0 0 1 59.98952802454124,9.138522543139516e-7 L59.99005162331418,3.0000008681596384 A57,57 0 0 0 60.00497418836185,116.99999978296009 Z"></path>
                            </svg>
                            <div class="gifts__card-remainHeadline">Осталось<br>накопить</div>
                            <div class="gifts__card-remainHeading">1000</div>
                            <div class="gifts__card-remainText">баллов</div>
                        </div>
                    </div>
                    <div class="gifts__card-bottom">
                        <div>
                            <div class="gifts__card-bottomHeadline">Книга</div>
                            <div class="gifts__card-bottomHeading">Гастроэнтерология собак<br>и кошек</div>
                        </div>
                        <div class="gifts__card-bottomButtons">
                            <button class="gifts__card-bottomBtn">
                                <img class="gifts__card-bottomImg" src="./img/frame1116.svg" alt="img">
                                В корзину
                            </button>
                            <div class="gifts__card-bottomLike">
                                <img class="gifts__card-bottomHeart" src="./img/heart.svg" alt="img">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="gifts__card">
                    <div class="gifts__card-top gifts__card-top-4">
                        <div class="gifts__card-sticker">Новинка</div>
                        <div class="gifts__card-remain">
                            <svg class="pie-chart" xmlns="http://www.w3.org/2000/svg" id="sv" width="62" height="62" viewBox="0 0 120 120">
                                <path id="0" fill="#ffffff" d="M60, 0 A60,60 0 0 1 60.005235987749316,119.99999977153693 L60.00497418836185,116.99999978296009 A57,57 0 0 0 60,3 Z"></path>
                                <path id="1" fill="transparent" d="M60.005235987749316, 119.99999977153693 A60,60 0 0 1 59.98952802454124,9.138522543139516e-7 L59.99005162331418,3.0000008681596384 A57,57 0 0 0 60.00497418836185,116.99999978296009 Z"></path>
                            </svg>
                            <div class="gifts__card-remainHeadline">Осталось<br>накопить</div>
                            <div class="gifts__card-remainHeading">1000</div>
                            <div class="gifts__card-remainText">баллов</div>
                        </div>
                    </div>
                    <div class="gifts__card-bottom">
                        <div>
                            <div class="gifts__card-bottomHeadline">Книга</div>
                            <div class="gifts__card-bottomHeading">Конференция по репродукции «беременность и роды собак и кошек»</div>
                        </div>
                        <div class="gifts__card-bottomButtons">
                            <button class="gifts__card-bottomBtn">
                                <img class="gifts__card-bottomImg" src="./img/frame1116.svg" alt="img">
                                В корзину
                            </button>
                            <div class="gifts__card-bottomLike">
                                <img class="gifts__card-bottomHeart" src="./img/heart.svg" alt="img">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="gifts__flex">
                <div class="gifts__card">
                    <div class="gifts__card-top">
                        <div class="gifts__card-sticker">Новинка</div>
                        <div class="gifts__card-remain">
                            <svg class="pie-chart" xmlns="http://www.w3.org/2000/svg" id="sv" width="62" height="62" viewBox="0 0 120 120">
                                <path id="0" fill="#ffffff" d="M60, 0 A60,60 0 0 1 60.005235987749316,119.99999977153693 L60.00497418836185,116.99999978296009 A57,57 0 0 0 60,3 Z"></path>
                                <path id="1" fill="transparent" d="M60.005235987749316, 119.99999977153693 A60,60 0 0 1 59.98952802454124,9.138522543139516e-7 L59.99005162331418,3.0000008681596384 A57,57 0 0 0 60.00497418836185,116.99999978296009 Z"></path>
                            </svg>
                            <div class="gifts__card-remainHeadline">Осталось<br>накопить</div>
                            <div class="gifts__card-remainHeading">1000</div>
                            <div class="gifts__card-remainText">баллов</div>
                        </div>
                    </div>
                    <div class="gifts__card-bottom">
                        <div>
                            <div class="gifts__card-bottomHeadline">Книга</div>
                            <div class="gifts__card-bottomHeading">Гастроэнтерология собак<br>и кошек</div>
                        </div>
                        <div class="gifts__card-bottomButtons">
                            <button class="gifts__card-bottomBtn">
                                <img class="gifts__card-bottomImg" src="./img/frame1116.svg" alt="img">
                                В корзину
                            </button>
                            <div class="gifts__card-bottomLike">
                                <img class="gifts__card-bottomHeart" src="./img/heart.svg" alt="img">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="gifts__card">
                    <div class="gifts__card-top gifts__card-top-2">
                        <div class="gifts__card-sticker">Новинка</div>
                        <div class="gifts__card-remain">
                            <svg class="pie-chart" xmlns="http://www.w3.org/2000/svg" id="sv" width="62" height="62" viewBox="0 0 120 120">
                                <path id="0" fill="#ffffff" d="M60, 0 A60,60 0 0 1 60.005235987749316,119.99999977153693 L60.00497418836185,116.99999978296009 A57,57 0 0 0 60,3 Z"></path>
                                <path id="1" fill="transparent" d="M60.005235987749316, 119.99999977153693 A60,60 0 0 1 59.98952802454124,9.138522543139516e-7 L59.99005162331418,3.0000008681596384 A57,57 0 0 0 60.00497418836185,116.99999978296009 Z"></path>
                            </svg>
                            <div class="gifts__card-remainHeadline">Осталось<br>накопить</div>
                            <div class="gifts__card-remainHeading">1000</div>
                            <div class="gifts__card-remainText">баллов</div>
                        </div>
                    </div>
                    <div class="gifts__card-bottom">
                        <div>
                            <div class="gifts__card-bottomHeadline">Книга</div>
                            <div class="gifts__card-bottomHeading">Гастроэнтерология собак<br>и кошек</div>
                        </div>
                        <div class="gifts__card-bottomButtons">
                            <button class="gifts__card-bottomBtn">
                                <img class="gifts__card-bottomImg" src="./img/frame1116.svg" alt="img">
                                В корзину
                            </button>
                            <div class="gifts__card-bottomLike">
                                <img class="gifts__card-bottomHeart" src="./img/heart.svg" alt="img">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="gifts__card">
                    <div class="gifts__card-top gifts__card-top-3">
                        <div class="gifts__card-sticker">Хит продаж</div>
                        <div class="gifts__card-remain">
                            <svg class="pie-chart" xmlns="http://www.w3.org/2000/svg" id="sv" width="62" height="62" viewBox="0 0 120 120">
                                <path id="0" fill="#ffffff" d="M60, 0 A60,60 0 0 1 60.005235987749316,119.99999977153693 L60.00497418836185,116.99999978296009 A57,57 0 0 0 60,3 Z"></path>
                                <path id="1" fill="transparent" d="M60.005235987749316, 119.99999977153693 A60,60 0 0 1 59.98952802454124,9.138522543139516e-7 L59.99005162331418,3.0000008681596384 A57,57 0 0 0 60.00497418836185,116.99999978296009 Z"></path>
                            </svg>
                            <div class="gifts__card-remainHeadline">Осталось<br>накопить</div>
                            <div class="gifts__card-remainHeading">1000</div>
                            <div class="gifts__card-remainText">баллов</div>
                        </div>
                    </div>
                    <div class="gifts__card-bottom">
                        <div>
                            <div class="gifts__card-bottomHeadline">Книга</div>
                            <div class="gifts__card-bottomHeading">Гастроэнтерология собак<br>и кошек</div>
                        </div>
                        <div class="gifts__card-bottomButtons">
                            <button class="gifts__card-bottomBtn">
                                <img class="gifts__card-bottomImg" src="./img/frame1116.svg" alt="img">
                                В корзину
                            </button>
                            <div class="gifts__card-bottomLike">
                                <img class="gifts__card-bottomHeart" src="./img/heart.svg" alt="img">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="gifts__card">
                    <div class="gifts__card-top gifts__card-top-4">
                        <div class="gifts__card-sticker">Новинка</div>
                        <div class="gifts__card-remain">
                            <svg class="pie-chart" xmlns="http://www.w3.org/2000/svg" id="sv" width="62" height="62" viewBox="0 0 120 120">
                                <path id="0" fill="#ffffff" d="M60, 0 A60,60 0 0 1 60.005235987749316,119.99999977153693 L60.00497418836185,116.99999978296009 A57,57 0 0 0 60,3 Z"></path>
                                <path id="1" fill="transparent" d="M60.005235987749316, 119.99999977153693 A60,60 0 0 1 59.98952802454124,9.138522543139516e-7 L59.99005162331418,3.0000008681596384 A57,57 0 0 0 60.00497418836185,116.99999978296009 Z"></path>
                            </svg>
                            <div class="gifts__card-remainHeadline">Осталось<br>накопить</div>
                            <div class="gifts__card-remainHeading">1000</div>
                            <div class="gifts__card-remainText">баллов</div>
                        </div>
                    </div>
                    <div class="gifts__card-bottom">
                        <div>
                            <div class="gifts__card-bottomHeadline">Книга</div>
                            <div class="gifts__card-bottomHeading">Конференция по репродукции «беременность и роды собак и кошек»</div>
                        </div>
                        <div class="gifts__card-bottomButtons">
                            <button class="gifts__card-bottomBtn">
                                <img class="gifts__card-bottomImg" src="./img/frame1116.svg" alt="img">
                                В корзину
                            </button>
                            <div class="gifts__card-bottomLike">
                                <img class="gifts__card-bottomHeart" src="./img/heart.svg" alt="img">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="gifts__flex">
                <div class="gifts__card">
                    <div class="gifts__card-top">
                        <div class="gifts__card-sticker">Новинка</div>
                        <div class="gifts__card-remain">
                            <svg class="pie-chart" xmlns="http://www.w3.org/2000/svg" id="sv" width="62" height="62" viewBox="0 0 120 120">
                                <path id="0" fill="#ffffff" d="M60, 0 A60,60 0 0 1 60.005235987749316,119.99999977153693 L60.00497418836185,116.99999978296009 A57,57 0 0 0 60,3 Z"></path>
                                <path id="1" fill="transparent" d="M60.005235987749316, 119.99999977153693 A60,60 0 0 1 59.98952802454124,9.138522543139516e-7 L59.99005162331418,3.0000008681596384 A57,57 0 0 0 60.00497418836185,116.99999978296009 Z"></path>
                            </svg>
                            <div class="gifts__card-remainHeadline">Осталось<br>накопить</div>
                            <div class="gifts__card-remainHeading">1000</div>
                            <div class="gifts__card-remainText">баллов</div>
                        </div>
                    </div>
                    <div class="gifts__card-bottom">
                        <div>
                            <div class="gifts__card-bottomHeadline">Книга</div>
                            <div class="gifts__card-bottomHeading">Гастроэнтерология собак<br>и кошек</div>
                        </div>
                        <div class="gifts__card-bottomButtons">
                            <button class="gifts__card-bottomBtn">
                                <img class="gifts__card-bottomImg" src="./img/frame1116.svg" alt="img">
                                В корзину
                            </button>
                            <div class="gifts__card-bottomLike">
                                <img class="gifts__card-bottomHeart" src="./img/heart.svg" alt="img">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="gifts__card">
                    <div class="gifts__card-top gifts__card-top-2">
                        <div class="gifts__card-sticker">Новинка</div>
                        <div class="gifts__card-remain">
                            <svg class="pie-chart" xmlns="http://www.w3.org/2000/svg" id="sv" width="62" height="62" viewBox="0 0 120 120">
                                <path id="0" fill="#ffffff" d="M60, 0 A60,60 0 0 1 60.005235987749316,119.99999977153693 L60.00497418836185,116.99999978296009 A57,57 0 0 0 60,3 Z"></path>
                                <path id="1" fill="transparent" d="M60.005235987749316, 119.99999977153693 A60,60 0 0 1 59.98952802454124,9.138522543139516e-7 L59.99005162331418,3.0000008681596384 A57,57 0 0 0 60.00497418836185,116.99999978296009 Z"></path>
                            </svg>
                            <div class="gifts__card-remainHeadline">Осталось<br>накопить</div>
                            <div class="gifts__card-remainHeading">1000</div>
                            <div class="gifts__card-remainText">баллов</div>
                        </div>
                    </div>
                    <div class="gifts__card-bottom">
                        <div>
                            <div class="gifts__card-bottomHeadline">Книга</div>
                            <div class="gifts__card-bottomHeading">Гастроэнтерология собак<br>и кошек</div>
                        </div>
                        <div class="gifts__card-bottomButtons">
                            <button class="gifts__card-bottomBtn">
                                <img class="gifts__card-bottomImg" src="./img/frame1116.svg" alt="img">
                                В корзину
                            </button>
                            <div class="gifts__card-bottomLike">
                                <img class="gifts__card-bottomHeart" src="./img/heart.svg" alt="img">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="gifts__card">
                    <div class="gifts__card-top gifts__card-top-3">
                        <div class="gifts__card-sticker">Хит продаж</div>
                        <div class="gifts__card-remain">
                            <svg class="pie-chart" xmlns="http://www.w3.org/2000/svg" id="sv" width="62" height="62" viewBox="0 0 120 120">
                                <path id="0" fill="#ffffff" d="M60, 0 A60,60 0 0 1 60.005235987749316,119.99999977153693 L60.00497418836185,116.99999978296009 A57,57 0 0 0 60,3 Z"></path>
                                <path id="1" fill="transparent" d="M60.005235987749316, 119.99999977153693 A60,60 0 0 1 59.98952802454124,9.138522543139516e-7 L59.99005162331418,3.0000008681596384 A57,57 0 0 0 60.00497418836185,116.99999978296009 Z"></path>
                            </svg>
                            <div class="gifts__card-remainHeadline">Осталось<br>накопить</div>
                            <div class="gifts__card-remainHeading">1000</div>
                            <div class="gifts__card-remainText">баллов</div>
                        </div>
                    </div>
                    <div class="gifts__card-bottom">
                        <div>
                            <div class="gifts__card-bottomHeadline">Книга</div>
                            <div class="gifts__card-bottomHeading">Гастроэнтерология собак<br>и кошек</div>
                        </div>
                        <div class="gifts__card-bottomButtons">
                            <button class="gifts__card-bottomBtn">
                                <img class="gifts__card-bottomImg" src="./img/frame1116.svg" alt="img">
                                В корзину
                            </button>
                            <div class="gifts__card-bottomLike">
                                <img class="gifts__card-bottomHeart" src="./img/heart.svg" alt="img">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="gifts__card">
                    <div class="gifts__card-top gifts__card-top-4">
                        <div class="gifts__card-sticker">Новинка</div>
                        <div class="gifts__card-remain">
                            <svg class="pie-chart" xmlns="http://www.w3.org/2000/svg" id="sv" width="62" height="62" viewBox="0 0 120 120">
                                <path id="0" fill="#ffffff" d="M60, 0 A60,60 0 0 1 60.005235987749316,119.99999977153693 L60.00497418836185,116.99999978296009 A57,57 0 0 0 60,3 Z"></path>
                                <path id="1" fill="transparent" d="M60.005235987749316, 119.99999977153693 A60,60 0 0 1 59.98952802454124,9.138522543139516e-7 L59.99005162331418,3.0000008681596384 A57,57 0 0 0 60.00497418836185,116.99999978296009 Z"></path>
                            </svg>
                            <div class="gifts__card-remainHeadline">Осталось<br>накопить</div>
                            <div class="gifts__card-remainHeading">1000</div>
                            <div class="gifts__card-remainText">баллов</div>
                        </div>
                    </div>
                    <div class="gifts__card-bottom">
                        <div>
                            <div class="gifts__card-bottomHeadline">Книга</div>
                            <div class="gifts__card-bottomHeading">Конференция по репродукции «беременность и роды собак и кошек»</div>
                        </div>
                        <div class="gifts__card-bottomButtons">
                            <button class="gifts__card-bottomBtn">
                                <img class="gifts__card-bottomImg" src="./img/frame1116.svg" alt="img">
                                В корзину
                            </button>
                            <div class="gifts__card-bottomLike">
                                <img class="gifts__card-bottomHeart" src="./img/heart.svg" alt="img">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="custom-nav">
        <div id="gift-prev-arrow" class="prev-arrow">
            <img class="custom-nav-img" src="./img/custom-arrow.svg">
        </div>
        <div id="gift-count-slide" class="count-slide">
            1 / 2
        </div>
        <div id="gift-next-arrow" class="next-arrow">
            <img class="custom-nav-img" src="./img/custom-arrow.svg">
        </div>
    </div>
</div>
