<header class="header">
    <div class="header__top">
        <div class="header__flex container">
            <div class="header__block">
                <a class="header__block-link" href="#">О Royal Canin®</a>
            </div>
            <div class="header__block">
                <img class="header__block-img" src="./img/apps-add.svg" alt="img">
                <a class="header__block-link" href="#">Сервисы Royal Canin® </a>
            </div>
        </div>
    </div>
    <div class="header__bottom container">
        <img class="header__logo" src="./img/logo.svg" alt="logo">
        <div class="header__bottom-block">
            <div class="header__search">
                <img class="header__img" src="./img/search.svg" alt="img">
                <input class="header__input" type="text" placeholder="Поиск">
            </div>
            <button class="header__btn">Войти</button>
        </div>
    </div>
</header>