<header class="header">
    <div class="header__flex container">
        <div class="header__search">
            <img class="header__img" src="./img/search.svg" alt="img">
            <input class="header__input" type="text" placeholder="Поиск">
        </div>
        <button class="header__btn">Войти</button>
    </div>
</header>