<div class="info">
    <img class="info__img" src="./img/infoIcon.svg" alt="img">
    <div class="info__text"><span class="bold">Изучайте контент на портале и получайте <span>баллы,</span></span> которые вы сможете<br>обменять на полезные подарки в программе лояльности</div>
</div>