<div class="letterSelection">
    <div class="letterSelection__headline"><span>шаг 3</span> / 5</div>
    <div class="letterSelection__heading">Подбор повседневного корма</div>
    <form action="#" class="letterSelection__form">
        <div class="letterSelection__form-left">
            <div class="letterSelection__form-block">
                <div class="letterSelection__form-text">Порода собаки</div>
                <div class="letterSelection__form-item">
                    <select class="custom-select" name="state" data-placeholder="Любая">
                        <option value="" disabled  selected>Любая</option>
                        <option value="City01">Смешанная порода</option>
                        <option value="City02">Австралийский силки терьер</option>
                        <option value="City03">Австралийский терьер</option>
                        <option value="City04">Аффенпинчер</option>
                        <option value="City05">Австралийская короткохвостая пастушья</option>
                    </select>
                </div>
            </div>
            <div class="letterSelection__form-flex">
                <div class="letterSelection__form-block letterSelection__form-block--section letterSelection__form-item--done">
                    <div class="letterSelection__form-text">ВЕС взрослой собаки</div>
                    <div class="letterSelection__form-item">
                        <select class="custom-select" name="state" data-placeholder="Любой">
                                <option value="" disabled  selected>Любой</option>
                                <option value="City01">до 4 кг</option>
                                <option value="City02">4–10 кг</option>
                                <option value="City03">11–25 кг</option>
                                <option value="City04">26–45 кг</option>
                                <option value="City05">46+ кг</option>
                            </select>
                        <img class="letterSelection__form-img" src="./img/done.svg" alt="img">
                    </div>
                    <div class="letterSelection__form-text--done">вес определен породой</div>
                </div>
                <div class="letterSelection__form-block letterSelection__form-block--section">
                    <div class="letterSelection__form-text">Возраст</div>
                    <div class="letterSelection__form-item">
                        <select class="custom-select" name="state" data-placeholder="Любой">
                            <option value="" disabled  selected>Любой</option>
                            <option value="City01">Щенки до 10 месяцев</option>
                            <option value="City02">Взрослые Собаки от 10 месяцев до 7 лет</option>
                            <option value="City03">Взрослые Собаки от 10 месяцев до 7 лет</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="letterSelection__form-block">
                <div class="letterSelection__form-text">Индивидуальные особенности</div>
                <div class="letterSelection__form-item">
                    <select class="custom-select" name="state" data-placeholder="Отсутствуют">
                        <option value="" disabled  selected>Отсутствуют</option>
                        <option value="City01">Высокие энергетические потребности</option>
                        <option value="City02">Приведердливость в питании</option>
                        <option value="City03">Беременность до 42 дня</option>
                    </select>
                </div>
            </div>
        </div>
        <button class="letterSelection__form-btn" type="submit">Показать 254 решения</button>
    </form>
    <button class="letterSelection__btn">
        <img class="letterSelection__btn-img" src="./img/chevron_left.svg" alt="img">
        Предыдущий вопрос
    </button>
</div>
