<div class="mailing">
    <div class="mailing__top">
        <div class="mailing__left">
            <div class="mailing__left-heading">Подписаться<br>на рассылку</div>
            <div class="mailing__left-text">чтоб не пропустить самое интерессное</div>
        </div>
        <div class="mailing__right">
            <div class="mailing__right-heading">email</div>
            <input class="mailing__right-input" type="text" placeholder="@">
            <div class="mailing__right-block">
                <input class="mailing__right-check" type="checkbox">
                <div class="mailing__right-text">Я ознакомился с <span><u>Положением о конфиденциальности, Правилами Акции</u></span> и даю свое согласие на обработку персональных данных.*</div>
            </div>
            <div class="mailing__right-block">
                <input class="mailing__right-check" type="checkbox">
                <div class="mailing__right-text">Я подтверждаю,что мне исполнилось 18 лет</div>
            </div>
            <div class="mailing__right-block">
                <input class="mailing__right-check" type="checkbox">
                <div class="mailing__right-text">Я даю согласие на получение рекламных сообщений по SMS, телефону, электронной почте, в мессенджерах: WhatsApp, Viber, Telegram.</div>
            </div>
            <button class="mailing__right-btn">Подписаться</button>
        </div>
    </div>
</div>