<nav id="nav" class="nav">
    <div class="nav__item">
        <div class="nav__heading">Актуальное</div>
        <div class="nav__item-block _active">
            <div>
                <img class="nav__item-img" src="./img/star1.svg" alt="img">
                <a class="nav__link" href="#">Лента</a>
            </div>
            <div></div>
        </div>
        <div class="nav__item-block">
           <div>
               <img class="nav__item-img" src="./img/book.svg" alt="img">
               <a class="nav__link" href="#">Обучение</a>
           </div>
            <div></div>
        </div>
        <div class="nav__item-block">
           <div>
               <img class="nav__item-img" src="./img/icon.svg" alt="img">
               <a class="nav__link" href="#">Программа лояльности</a>
           </div>
            <div class="nav__icon">
                <div class="nav__icon-text">2000</div>
                <img class="nav__icon-img" src="./img/group1031.svg" alt="img">
            </div>
        </div>
    </div>
    <div class="nav__item">
        <div class="nav__heading">Интересное</div>
        <div class="nav__item-block">
            <a class="nav__link" href="#">Статьи</a>
        </div>
        <div class="nav__item-block">
            <a class="nav__link" href="#">Вебинары и видео</a>
        </div>
        <div class="nav__item-block">
            <a class="nav__link" href="#">Мероприятия</a>
        </div>
    </div>
    <div class="nav__item">
        <div class="nav__heading">Полезное</div>
        <div class="nav__item-block">
            <a class="nav__link" href="#">Атлас осадков мочи</a>
        </div>
        <div class="nav__item-block">
            <a class="nav__link" href="#">Natom</a>
        </div>
        <div class="nav__item-block">
            <a class="nav__link" href="#">Книги и журналы</a>
        </div>
        <div class="nav__item-block">
            <a class="nav__link" href="#">Продукты RC</a>
        </div>
    </div>
</nav>
