<div class="necessary">
    <div class="necessary__heading">Самое нужное для практики под рукой</div>
    <div class="necessary__showcase">
        <div class="necessary__card necessary__card-1">
            <div class="necessary__text">интересное</div>
            <div class="necessary__headline">Статьи</div>
            <div class="necessary__text-mini">125 статей от экспертов</div>
        </div>
        <div class="necessary__card necessary__card-2">
            <div class="necessary__text">интересное</div>
            <div class="necessary__headline">Вебинары и видео</div>
            <div class="necessary__text-mini">234 видео материалов</div>
        </div>
        <div class="necessary__card necessary__card-3">
            <div class="necessary__text">интересное</div>
            <div class="necessary__headline">Мероприятия</div>
            <div class="necessary__text-mini">178 профессиональных мероприятий</div>
        </div>
        <div class="necessary__card necessary__card-4">
            <div class="necessary__text">Полезное</div>
            <div class="necessary__headline">Атлас осадков мочи</div>
            <div class="necessary__text-mini">Библиотека кристаллов</div>
        </div>
        <div class="necessary__card necessary__card-5">
            <div class="necessary__text">Полезное</div>
            <div class="necessary__headline">Natom</div>
            <div class="necessary__text-mini">86 анатомических 3D моделей</div>
        </div>
        <div class="necessary__card necessary__card-6">
            <div class="necessary__text">Полезное</div>
            <div class="necessary__headline">Книги и журналы</div>
            <div class="necessary__text-mini">338 выпусков журналов и книг</div>
        </div>
    </div>
</div>