<div class="product">
    <div class="product__left">
            <img class="product__left-img" src="./img/productImg1.png" alt="img">
            <div class="product__left-heading">Mini Adult</div>
            <div class="product__left-text">Сухой корм для собак в возрасте c 10 месяцев до 8 лет.<br>MINI Adult специально разработан для собак мелких пород (весом от 4 до 10 кг).</div>
            <div class="product__left-id">id #1234</div>
            <button class="product__left-btn">
                <img class="product__left-btn--img" src="./img/group.svg" alt="img">
                Рекомендовать
            </button>
    </div>
    <div  class="product__right">
        <div id="product" class="product__carousel">
            <div>
                <div class="product__item">
                    <div class="product__item-heading">Преимущества</div>
                    <div class="product__item-showcase">
                        <div class="product__item-card">
                            <img class="product__item-cardImg" src="./img/rectangle_97.png" alt="img">
                            <div class="product__item-cardText">Поддержание оптимального веса</div>
                        </div>
                        <div class="product__item-card">
                            <img class="product__item-cardImg" src="./img/rectangle_97_2.png" alt="img">
                            <div class="product__item-cardText">Улучшенные вкусовые качества</div>
                        </div>
                        <div class="product__item-card">
                            <img class="product__item-cardImg" src="./img/rectangle_97_3.png" alt="img">
                            <div class="product__item-cardText">Улучшенные вкусовые качества</div>
                        </div>
                        <div class="product__item-card">
                            <img class="product__item-cardImg" src="./img/rectangle_97_4.png" alt="img">
                            <div class="product__item-cardText">Здоровье шерсти</div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="product__item">
                    <div class="product__item-heading">Ингредиенты</div>
                    <div class="product__item-cardText">Рис, дегидратированные белки животного происхождения (птица), мука из зерновых культур, изолят растительных белков*, пшеница, животные жиры, гидролизат белков животного происхождения (вкусоароматические добавки), растительная клетчатка, минеральные вещества, рыбий жир, соевое масло, дрожжи и побочные продукты брожения, фруктоолигосахариды.</div>
                    <div class="product__item-info">Добавки (в 1кг)</div>
                    <div class="product__item-cardText">Питательные добавки: Витамин A: 21500 ME, Витамин D3: 1000 ME, Железо: 38 мг, Йод: 3,8 мг, Медь: 12 мг, Марганец: 50 мг, Цинк: 150 мг, Ceлeн: 0,1 мг, L-карнитин: 50 мг - Технологические добавки: Триполифосфат натрия: 3,5 г - Консерванты - Антиокислители.</div>
                    <div class="product__item-cardTextMini">*L.I.P.: специально отобранные белки с высокой степенью усвояемости. Хранить в сухом прохладном месте.<br>Информация об ингредиентах и нутриентном составе на сайте является справочной. Вся информация о продукте представлена непосредственно на упаковке.</div>
                </div>
            </div>
            <div>
                <div class="product__item">
                    <div class="product__item-heading">Нормы кормления</div>
                    <div class="product__item-showcase">
                        <img class="product__item-showcase--img" src="./img/Vector-Smart-Object-copy.png" alt="img">
                    </div>
                </div>
            </div>
            <div>
                <div class="product__item">
                    <div class="product__item-heading">Содержание питательных веществ</div>
                    <div class="product__table">
                        <div class="product__table-block">
                            <div class="product__table-blockLeft">Белки</div>
                            <div class="product__table-blockRight">27%</div>
                        </div>
                        <div class="product__table-block">
                            <div class="product__table-blockLeft">Жиры</div>
                            <div class="product__table-blockRight">16%</div>
                        </div>
                        <div class="product__table-block">
                            <div class="product__table-blockLeft">Минеральные вещества</div>
                            <div class="product__table-blockRight">5,3%</div>
                        </div>
                        <div class="product__table-block">
                            <div class="product__table-blockLeft">Клетчатка пищевая</div>
                            <div class="product__table-blockRight">1,9%</div>
                        </div>
                        <div class="product__table-block">
                            <div class="product__table-blockLeft">EPA & DHA</div>
                            <div class="product__table-blockRight">2,5 г/кг</div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="product__item">
                    <div class="product__item-heading">Показания к применению</div>
                    <div class="product__item-info">Показания</div>
                    <ul class="product__item-list">
                        <li class="product__item-li">Струвитные уролиты: растворение и профилактика рецидивов</li>
                        <li class="product__item-li">Уролиты оксалата кальция: профилактика рецидивов</li>
                        <li class="product__item-li">Бактериальный цистит:<br>вторичный струвитный уролитиаз (в сочетании<br>с адекватной антибиотикотерапией)</li>
                    </ul>
                    <div class="product__item-info">Противопоказания</div>
                    <ul class="product__item-list">
                        <li class="product__item-li">Хроническая болезнь почек (ХБП)</li>
                        <li class="product__item-li">Сердечная недостаточность (с ограничением натрия в диете)</li>
                        <li class="product__item-li">Применение лекарственных препаратов способствующих подкислению мочи</li>
                        <li class="product__item-li">Беременность, лактация, рост</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="custom-nav">
            <div id="product-prev-arrow" class="prev-arrow">
                <img class="custom-nav-img" src="./img/custom-arrow.svg">
            </div>
            <div id="product-count-slide" class="count-slide">
                1 / 2
            </div>
            <div id="product-next-arrow" class="next-arrow">
                <img class="custom-nav-img" src="./img/custom-arrow.svg">
            </div>
        </div>
    </div>
    <img class="product__close" src="./img/close.svg" alt="img">
</div>