<div class="promo">
    <div class="promo__left">
        <div class="promo__left-heading">Уникальная<br>экосистема для<br><span>Vet</span>специалистов</div>
        <div class="promo__left-text">Присоединяйтесь к тысячам коллег из России<br>и стран СНГ и изучайте актуальный контент<br>для повседневной практики.</div>
        <button class="promo__left-btn">Присоединиться к комьюнити</button>
    </div>
    <div class="promo__right">
        <div class="promo__right-margin">
            <div class="promo__right-text">нас уже</div>
            <div class="promo__right-headline">4 04<span>6</span></div>
            <div class="promo__right-text">вет. специалистов</div>
            <img class="promo__right-icon" src="./img/ellipse1.png" alt="img">
            <img class="promo__right-icon-1" src="./img/ellipse2.png" alt="img">
        </div>
    </div>
</div>