<div class="recovery">
    <div class="recovery__header">Забыли пароль?</div>
    <div class="recovery__text">Введите свой адрес электронной почты ниже,<br>и мы вышлем вам письмо для сброса пароля.</div>
    <form class="recovery__form" action="#">
        <div>
            <div class="recovery__headline">Email/Телефон</div>
            <div class="recovery__flex">
                <input class="recovery__input" type="text" placeholder="Filled">
                <img class="recovery__img" src="./img/close.svg" alt="&#x2715">
            </div>
        </div>
        <div class="recovery__span">Уже есть учетная запись?</div>
        <button class="recovery__btn show-more-btn">Отправить</button>
    </form>
    <img class="recovery__close" src="./img/close.svg" alt="img">
</div>