<div class="registration">
    <div class="registration__showcase">
            <div class="registration__card">
                <div class="registration__card-left">
                    <div class="registration__card-text">Присоединяйстесь<br>к <span>VetAcademy</span></div>
                    <div class="registration__card-textMini">После регистрации вы получите бонусные баллы на<br>счет для покупки товаров из программы лояльности</div>
                    <button class="registration__card-btn">Регистрация</button>
                </div>
                <div class="registration__card-right">
                    <div class="registration__card-padding">
                        <button class="registration__card-get">получите</button>
                        <div class="registration__card-heading">200</div>
                        <div class="registration__card-headline">баллов</div>
                    </div>
                </div>
            </div>
    </div>
    <img class="registration__img" src="./img/registrationImg.png" alt="img">
</div>