<div class="selection">
    <div class="selection__headline"><span>шаг 3</span> / 5</div>
    <div class="selection__heading">Подбор повседневного корма</div>
    <form action="#" class="selection__form">
        <div class="selection__form-left">
            <div class="selection__form-block">
                <div class="selection__form-text">Порода собаки</div>
                <div class="selection__form-item">
                    <input class="selection__form-input" type="text" placeholder="Любая">
                    <img class="selection__form-img" src="./img/expand_more.svg" alt="img">
                </div>
            </div>
            <div class="selection__form-flex">
                <div class="selection__form-block selection__form-block--section">
                    <div class="selection__form-text">ВЕС взрослой собаки</div>
                    <div class="selection__form-item">
                        <input class="selection__form-input" type="text" placeholder="Любой">
                        <img class="selection__form-img" src="./img/expand_more.svg" alt="img">
                    </div>
                </div>
                <div class="selection__form-block selection__form-block--section">
                    <div class="selection__form-text">Возраст</div>
                    <div class="selection__form-item">
                        <input class="selection__form-input" type="text" placeholder="Любой">
                        <img class="selection__form-img" src="./img/expand_more.svg" alt="img">
                    </div>
                </div>
            </div>
            <div class="selection__form-block">
                <div class="selection__form-text">Индивидуальные особенности</div>
                <div class="selection__form-item">
                    <input class="selection__form-input" type="text" placeholder="Отсутствуют">
                    <img class="selection__form-img" src="./img/expand_more.svg" alt="img">
                </div>
            </div>
        </div>
        <button class="selection__form-btn" type="submit">Показать 254 решения</button>
    </form>
    <button class="selection__btn">
        <img class="selection__btn-img" src="./img/chevron_left.svg" alt="img">
        Предыдущий вопрос
    </button>
</div>