<div class="select">
    <div class="select__headline"><span>шаг 4</span> / 5</div>
    <div class="select__heading">Рекомандация готова к отправке</div>
    <div class="select__top">
        <div class="select__block">
            <button class="select__block-btn select__block-btn--active">Сухой</button>
            <button class="select__block-btn">Влажный</button>
        </div>
        <div class="select__search">
            <img class="select__search-img" src="./img/search.svg" alt="img">
            <input class="select__search-input" type="text" placeholder="Поиск корма">
        </div>
    </div>
    <div class="select__showcase">
        <div class="select__card">
            <img class="select__card-img" src="./img/selectCard1.png" alt="img">
            <div class="select__card-flex">
                <div>
                    <div class="select__card-heading">Maxi Puppy</div>
                    <div class="select__card-text">Корм сухой полнорационный для щенков пород крупных размеров (вес взрослой собаки от 26 до 44 кг) в возрасте до 15 месяцев</div>
                </div>
                <div class="select__card-buttons">
                    <button class="select__card-btn">
                        <img class="select__card-btn--img" src="./img/group.svg" alt="img">
                        Рекомендовать
                    </button>
                    <button class="select__card-info">
                        <img class="select__card-info--img" src="./img/selectInfo.svg" alt="img">
                    </button>
                </div>
            </div>
        </div>
        <div class="select__card">
            <img class="select__card-img" src="./img/selectCard2.png" alt="img">
            <div class="select__card-flex">
                <div>
                    <div class="select__card-heading">Maxi Dermacomfort</div>
                    <div class="select__card-text">Корм сухой полнорационный для взрослых и стареющих собак крупных размеров при раздражениях и зуде кожи, связанных с повышенной чувствительностью</div>
                </div>
                <div class="select__card-buttons">
                    <button class="select__card-btn">
                        <img class="select__card-btn--img" src="./img/group.svg" alt="img">
                        Рекомендовать
                    </button>
                    <button class="select__card-info">
                        <img class="select__card-info--img" src="./img/selectInfo.svg" alt="img">
                    </button>
                </div>
            </div>
        </div>
        <div class="select__card">
            <img class="select__card-img" src="./img/selectCard3.png" alt="img">
            <div class="select__card-flex">
                <div>
                    <div class="select__card-heading">Mini Adult</div>
                    <div class="select__card-text">Сухой корм для собак в возрасте c 10 месяцев до 8 лет. MINI Adult специально разработан для собак мелких пород (весом от 4 до 10 кг).</div>
                </div>
                <div class="select__card-buttons">
                    <button class="select__card-btn">
                        <img class="select__card-btn--img" src="./img/group.svg" alt="img">
                        Рекомендовать
                    </button>
                    <button class="select__card-info">
                        <img class="select__card-info--img" src="./img/selectInfo.svg" alt="img">
                    </button>
                </div>
            </div>
        </div>
        <div class="select__card">
            <img class="select__card-img" src="./img/selectCard4.png" alt="img">
            <div class="select__card-flex">
                <div>
                    <div class="select__card-heading">MINI Digestive Care</div>
                    <div class="select__card-text">Корм для собак с чувствительным пищеварением</div>
                </div>
                <div class="select__card-buttons">
                    <button class="select__card-btn">
                        <img class="select__card-btn--img" src="./img/group.svg" alt="img">
                        Рекомендовать
                    </button>
                    <button class="select__card-info">
                        <img class="select__card-info--img" src="./img/selectInfo.svg" alt="img">
                    </button>
                </div>
            </div>
        </div>
    </div>
    <button class="select__btn">
        <img class="select__btn-img" src="./img/chevron_left.svg" alt="img">
        Предыдущий вопрос
    </button>
</div>