<div class="letter-selection">
    <div class="letter-selection__headline"><span>шаг 3</span> / 5</div>
    <div class="letter-selection__heading">Подбор повседневного корма</div>
    <form action="#" class="letter-selection__form">
        <div class="letter-selection__form-left">
            <div class="letter-selection__form-block">
                <div class="letter-selection__form-text">Порода собаки</div>
                <div class="letter-selection__form-item">
                    <select class="custom-select" name="state" data-placeholder="Любая">
                        <option value="" disabled  selected>Любая</option>
                        <option value="City01">City 0111</option>
                        <option value="City02">City 02</option>
                        <option value="City03">City 03</option>
                        <option value="City04">City 04</option>
                        <option value="City05">City 05</option>
                        <option value="City06">City 06</option>
                    </select>
<!--                    <input class="letter-selection__form-input" type="text" placeholder="Любая">-->
<!--                    <img class="letter-selection__form-img" src="./img/expand_more.svg" alt="img">-->
                </div>
            </div>
            <div class="letter-selection__form-flex">
                <div class="letter-selection__form-block letter-selection__form-block--section">
                    <div class="letter-selection__form-text">ВЕС взрослой собаки</div>
                    <div class="letter-selection__form-item">
                        <input class="letter-selection__form-input" type="text" placeholder="Любой">
                        <img class="letter-selection__form-img" src="./img/expand_more.svg" alt="img">
                    </div>
                </div>
                <div class="letter-selection__form-block letter-selection__form-block--section">
                    <div class="letter-selection__form-text">Возраст</div>
                    <div class="letter-selection__form-item">
                        <input class="letter-selection__form-input" type="text" placeholder="Любой">
                        <img class="letter-selection__form-img" src="./img/expand_more.svg" alt="img">
                    </div>
                </div>
            </div>
            <div class="letter-selection__form-block">
                <div class="letter-selection__form-text">Индивидуальные особенности</div>
                <div class="letter-selection__form-item">
                    <input class="letter-selection__form-input" type="text" placeholder="Отсутствуют">
                    <img class="letter-selection__form-img" src="./img/expand_more.svg" alt="img">
                </div>
            </div>
        </div>
        <button class="letter-selection__form-btn" type="submit">Показать 254 решения</button>
    </form>
    <button class="letter-selection__btn">
        <img class="letter-selection__btn-img" src="./img/chevron_left.svg" alt="img">
        Предыдущий вопрос
    </button>
</div>
