<div class="send">
    <div class="send__headline"><span>шаг 3</span> / 6</div>
    <div class="send__heading">Рекомандация готова к отправке</div>
    <form action="#" class="send__form">
        <div class="send__form-left">
            <div class="send__form-block">
                <div class="send__form-text">Здравствуйте!</div>
                <div class="send__form-text"><span>Сегодня Рекс был на приеме</span> у ветеринарного врача. После проведения осмотра врач Достоевский Константин <span>рекомендует использовать сухой корм Mini Adult.</span></div>
                <div class="send__form-text">Благодарим за заботу о Вашем питомце и доверие к нашей клинике!</div>
            </div>
            <img class="send__form-left--img" src="./img/image_2.png" alt="img">
        </div>
        <button class="send__form-btn" type="submit">
            <img class="send__form-btn--img" src="./img/group.svg" alt="img">
            Отправить
        </button>
    </form>
    <button class="send__btn">
        <img class="send__btn-img" src="./img/chevron_left.svg" alt="img">
        Предыдущий вопрос
    </button>
</div>