<div class="services">
    <div class="services__heading">Используйте инновационные <span>сервисы</span></div>
    <div id="services" class="services__showcase">
        <div>
            <div class="services__card">
                <div class="services__card-block">
                    <div class="services__card-headline">Анатомический атлас</div>
                    <div class="services__card-heading">Natom</div>
                    <div class="services__card-text">все главные системы органов<br>и костей можно изучить в объемной 3d<br>модели...</div>
                    <button class="services__card-btn">Подробнее</button>
                </div>
            </div>
        </div>
        <div>
            <div class="services__card">
                <div class="services__card-block">
                    <div class="services__card-headline">Анатомический атлас</div>
                    <div class="services__card-heading">Natom</div>
                    <div class="services__card-text">все главные системы органов<br>и костей можно изучить в объемной 3d<br>модели...</div>
                    <button class="services__card-btn">Подробнее</button>
                </div>
            </div>
        </div>
        <div>
            <div class="services__card">
                <div class="services__card-block">
                    <div class="services__card-headline">Анатомический атлас</div>
                    <div class="services__card-heading">Natom</div>
                    <div class="services__card-text">все главные системы органов<br>и костей можно изучить в объемной 3d<br>модели...</div>
                    <button class="services__card-btn">Подробнее</button>
                </div>
            </div>
        </div>
        <div>
            <div class="services__card">
                <div class="services__card-block">
                    <div class="services__card-headline">Анатомический атлас</div>
                    <div class="services__card-heading">Natom</div>
                    <div class="services__card-text">все главные системы органов<br>и костей можно изучить в объемной 3d<br>модели...</div>
                    <button class="services__card-btn">Подробнее</button>
                </div>
            </div>
        </div>
    </div>
    <div class="custom-nav">
        <div id="prev-arrow" class="prev-arrow">
            <img src="./img/custom-arrow.svg">
        </div>
        <div id="slide-count" class="count-slide">
            1 / 2
        </div>
        <div id="next-arrow" class="next-arrow">
            <img src="./img/custom-arrow.svg">
        </div>
    </div>
</div>
