<div class="store">
    <div class="store__top">
        <div class="store__top-tab">Мои активные обучения</div>
        <div class="store__top-tab">Избранное </div>
        <div class="store__top-tab">Мои VetБонусы</div>
    </div>
    <div class="store__showcase">
        <%- include('training.ejs'); %>
    </div>
</div>