<div class="support">
    <div class="support__info">
        <div class="support__block">
            <a class="support__link" href="tel:8 (800) 200-37-35">8 (800) 200-37-35</a>
            <div class="support__heading">Служба Заботы для России</div>
            <div class="support__heading"><span>звонок бесплатный для<br>всех регионов Россиии</span></div>
        </div>
        <div class="support__block">
            <a class="support__link" href="tel:8 (820) 007-137-35">8 (820) 007-137-35</a>
            <div class="support__heading">Служба Заботы для<br>Республики Беларусь</div>
        </div>
    </div>
    <div class="support__flex">
        <div>
            <a class="support__link" href="mailto:contact.ru@royalcanin.com">contact.ru@royalcanin.com</a>
            <div class="support__text">Техническая поддержка</div>
        </div>
        <div class="support__network">
            <img class="support__img" src="./img/vk.svg" alt="img">
            <img class="support__img" src="./img/tg.svg" alt="img">
            <img class="support__img" src="./img/ok.svg" alt="img">
        </div>
    </div>
</div>