<div class="support">
    <div class="support__text">Техническая поддержка</div>
    <div class="support__network">
        <img class="support__img" src="./img/vk.svg" alt="img">
        <img class="support__img" src="./img/tg.svg" alt="img">
        <img class="support__img" src="./img/ok.svg" alt="img">
    </div>
</div>