<div class="training">
    <div class="training__showcase">
        <div class="training__card">
            <div class="training__card-top training__card-1">
                <img class="training__card-img" src="./img/save.svg" alt="img">
                <div class="training__card-progress">
                    <div class="training__card-progressText">50%</div>
                </div>
            </div>
        </div>
    </div>
</div>