<div class="training">
    <div class="training__showcase">
        <div class="training__card">
            <div class="training__card-top training__card-1">
                <img class="training__card-img" src="./img/save.svg" alt="img">
                <div class="training__card-progress">
                    <div class="training__card-progressText">50%</div>
                </div>
            </div>
            <div class="training__card-headline">Мини-курс</div>
            <div class="training__card-heading">Пробная элиминационная диета: настрой на успех</div>
            <div class="training__card-text">Описание курса, далее текст-рыба, далее текст-рыба далее текст-рыба, далее текст-рыба</div>
        </div>
    </div>
</div>