<div class="user">
    <div class="user__avatar">
        <img class="user__avatar-img" src="./img/camera.svg" alt="avatar">
    </div>
    <div class="user__info">
        <div class="user__header">Фамилиев Имен Отчествович</div>
        <div class="user__headline">Терапевт</div>
        <div class="user__block">
            <div class="user__text">г. Москва</div>
            <div class="user__text">+7 (977) 000-00-00</div>
            <div class="user__text">фамилиев@gmail.com</div>
        </div>
        <button class="user__btn">
            <img class="user__btn-img" src="./img/edit.svg" alt="img">
            Редактировать данные прфиля
        </button>
    </div>
</div>