<div class="webinar">
    <div class="webinar__heading">Смртрите <span>вебинары и видео</span></div>
    <div class="webinar__showcase">
        <div class="webinar__card webinar__card-1">
            <div class="webinar__card-top">
                <img class="webinar__card-img" src="./img/save.svg" alt="img">
                <div class="webinar__card-time">
                    <img class="webinar__card-timeImg" src="./img/clock.svg" alt="img">
                    <div class="webinar__card-timeText">15 мин</div>
                </div>
            </div>
            <div class="webinar__card-center">
                <img src="./img/webinarIcon.svg" alt="img">
                <div class="webinar__card-headline">Видео-Лафхаки</div>
                <div class="webinar__card-heading">Пробная элиминационная диета: настрой на успех</div>
                <div class="webinar__card-user">
                    <img class="webinar__card-icon" src="./img/user.svg" alt="img">
                    <div class="webinar__card-text">Элизабет А. Берлинер ...</div>
                </div>
            </div>
            <div class="webinar__card-footer">
                <div class="webinar__card-footerLeft">
                    <div class="webinar__card-block">
                        <img class="webinar__card-like" src="./img/starW.svg" alt="img">
                        <div class="webinar__card-footerText">4,8</div>
                    </div>
                    <div class="webinar__card-block">
                        <img class="webinar__card-eye" src="./img/eyeW.svg" alt="img">
                        <div class="webinar__card-footerText">150 тыс.</div>
                    </div>
                </div>
                <div class="webinar__card-footerText">1 день назад</div>
            </div>
        </div>
        <div class="webinar__card webinar__card-2">
            <div class="webinar__card-top">
                <img class="webinar__card-img" src="./img/save.svg" alt="img">
                <div class="webinar__card-time">
                    <img class="webinar__card-timeImg" src="./img/clock.svg" alt="img">
                    <div class="webinar__card-timeText">15 мин</div>
                </div>
            </div>
            <div class="webinar__card-center">
                <img src="./img/webinarIcon.svg" alt="img">
                <div class="webinar__card-headline">Видео-Лафхаки</div>
                <div class="webinar__card-heading">Пробная элиминационная диета: настрой на успех</div>
                <div class="webinar__card-user">
                    <img class="webinar__card-icon" src="./img/user.svg" alt="img">
                    <div class="webinar__card-text">Элизабет А. Берлинер ...</div>
                </div>
            </div>
            <div class="webinar__card-footer">
                <div class="webinar__card-footerLeft">
                    <div class="webinar__card-block">
                        <img class="webinar__card-like" src="./img/starW.svg" alt="img">
                        <div class="webinar__card-footerText">4,8</div>
                    </div>
                    <div class="webinar__card-block">
                        <img class="webinar__card-eye" src="./img/eyeW.svg" alt="img">
                        <div class="webinar__card-footerText">150 тыс.</div>
                    </div>
                </div>
                <div class="webinar__card-footerText">1 день назад</div>
            </div>
        </div>
        <div class="webinar__card webinar__card-3">
            <div class="webinar__card-top">
                <img class="webinar__card-img" src="./img/save.svg" alt="img">
                <div class="webinar__card-time">
                    <img class="webinar__card-timeImg" src="./img/clock.svg" alt="img">
                    <div class="webinar__card-timeText">15 мин</div>
                </div>
            </div>
            <div class="webinar__card-center">
                <img src="./img/webinarIcon.svg" alt="img">
                <div class="webinar__card-headline">Видео-Лафхаки</div>
                <div class="webinar__card-heading">Пробная элиминационная диета: настрой на успех</div>
                <div class="webinar__card-user">
                    <img class="webinar__card-icon" src="./img/user.svg" alt="img">
                    <div class="webinar__card-text">Элизабет А. Берлинер ...</div>
                </div>
            </div>
            <div class="webinar__card-footer">
                <div class="webinar__card-footerLeft">
                    <div class="webinar__card-block">
                        <img class="webinar__card-like" src="./img/starW.svg" alt="img">
                        <div class="webinar__card-footerText">4,8</div>
                    </div>
                    <div class="webinar__card-block">
                        <img class="webinar__card-eye" src="./img/eyeW.svg" alt="img">
                        <div class="webinar__card-footerText">150 тыс.</div>
                    </div>
                </div>
                <div class="webinar__card-footerText">1 день назад</div>
            </div>
        </div>
    </div>
    <button class="webinar__btn">Смотреть все</button>
</div>